<div class="container">
	<!-- Main container -->
	<div class="row">
		<div class="main-wrapper">
			<admin-menu></admin-menu>
			<!-- Right masonary content -->
			<div class="col-md-9 col-sm-12 col-xs-12 paddinig0">
				<div class="row mainbox-right">

					<!-- masonary title -->
					<div class="col-sm-12 col-xs-12 col-md-7 masonary-title-box text-uppercase">
						<div class="masonary-title sort-parent">
							<h2>USER  ADMIN</h2>
							<p>VIEW USER ACCOUNT SETTINGS BELOW
								&nbsp;<a data-ng-click="sortMyUser()" data-ng-class="{ 'active': sortUser }">SORT USERS</a></p>
						</div>
					</div>
					<div class="col-sm-12 col-xs-12 col-md-5 masonary-title-box">
						<div class="row">
							<div class="col-sm-6 col-xs-12 col-md-5">
								<form class="search-form" ng-submit="searchUser()">
									<div class="form-group has-feedback">
										<label class="sr-only" for="search">Search</label>
										<span class="glyphicon glyphicon-search form-control-feedback"></span>
										<input ng-change="searchUser()" type="text" placeholder="Search User" id="search" name="search" class="form-control" ng-model="search" />
									</div>
								</form>
							</div>
							<div data-ng-click="createUser()" class="col-sm-6 col-xs-12 col-md-7 plus-search">
								<form>
									<span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
									<input type="button" value="CREATE USER" class="form-control btn btn-register" tabindex="" id="register-submit-lessonView" name="register-submit-lessonView">
								</form>
							</div>
						</div>
					</div>

				</div>
				<div class="row mainbox-right">
					<div class="table-responsive" infinite-scroll="loadMoreUsers()">
						<table class="table editUserTable">
							<tbody>
								<tr data-ng-repeat="userListShow in userList" id="{{$index}}">
									<td class="user-pics">
										<div data-ng-if="location[$index] == null || location[$index] == undefined ||  location[$index] == ''">
											<img data-ng-hide="userListShow.local.avatar_url" src="assets/img/icons/profile-pic.png" alt="Profile Pic" />
											<img class="img-user" data-ng-show="userListShow.local.avatar_url" ng-src="{{userListShow.local.avatar_url}}" />
										</div>
										<li class="closepreview" data-ng-if="location[$index]">
											<img class="img-user" class="pic-preview" ng-src="{{location[$index]}}">
											<a data-ng-click="hidePreview($index)" class="myspace-close "><img src="assets/img/imgpsh_fullsize.png"></a>
										</li>

										<label data-ng-if="activeUserEdit[$index] == userListShow._id" data-ng-hide="uploadLoader[$index]" class="user-admin-image edit-upload">
											<input type='file' file-model='fileModel' id="fileUploaded" onchange="angular.element(this).scope().upload(this,  angular.element(this).scope().$index)">CHOOSE FILE
										</label>

										<li data-ng-if="noFile[$index] !=''" class="err-msg">
											<span data-ng-bind="noFile[$index]"></span>
										</li>
										<li>
											<div data-ng-show="uploadLoader[$index]" class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="percentageStyle">
													<span class="sr-only">Complete</span>
												</div>
											</div>
										</li>
									</td>

									<!--  <td class="user-pics" data-ng-if="activeUserEdit[$index] == userListShow._id">
						           <img data-ng-hide="userListShow.local.avatar_url" src="assets/img/icons/profile-pic.png" alt="Profile Pic">
						            <img class="img-user" data-ng-show="userListShow.local.avatar_url" ng-src="{{userListShow.local.avatar_url}}">
						        </td> -->
									<td class="user-name" data-ng-if="activeUserEdit[$index] !== userListShow._id">
										<span data-ng-bind="userListShow.local.name" ng-blur="onBlur($index,userListShow)"></span>
									</td>
									<td class="user-name" data-ng-if="activeUserEdit[$index] == userListShow._id">

										<input name="uname" required type="text" ng-model="userListShow.local.name" id="username">

									</td>
									<td data-ng-if="activeUserEdit[$index] !== userListShow._id">
										<span data-ng-bind="userListShow.local.email"></span>
									</td>
									<td data-ng-if="activeUserEdit[$index] == userListShow._id" class="user-email">
										<input type="text" data-ng-model="userListShow.local.email">
									</td>
									<td class="user-rating" data-ng-if="activeUserEdit[$index] !== userListShow._id">*********</td>
									<td class="user-rating" data-ng-if="activeUserEdit[$index] == userListShow._id">
										<input type="password" data-ng-model="userListShow.local.password" placeholder="password">
									</td>
									<td class="user-date" data-ng-if="activeUserEdit[$index] !== userListShow._id">
										<span data-ng-bind="userListShow.local.dob"></span>
									</td>
									<td style="width: 50px;" class="user-date" data-ng-if="activeUserEdit[$index] == userListShow._id">
										<input type="text" ng-model="userListShow.local.dob" datepicker />

									</td>
									<td class="edit" data-ng-if="activeUserEdit[$index] !== userListShow._id">
										<a data-ng-click="editUser($index,userListShow)">
											<div class="editOption">
												<span class="text">Edit</span>
												<span class="glyphicon glyphicon-pencil"></span>
											</div>
										</a>
									</td>
									<td class="edit after-edit" data-ng-if="activeUserEdit[$index] == userListShow._id">
										<div class="editOption" data-ng-hide="saveLoader">

											<span data-ng-click="updateUser($index,userListShow)" class=" text glyphicon glyphicon-ok-circle"></span>

											<span data-ng-click="cancelSave($index, userListShow)" class=" text glyphicon glyphicon-remove-circle"></span>
										</div>
										<img data-ng-show="saveLoader" src="assets/img/ajax-loader.gif" />
									</td>
									<td class="user-close" data-ng-if="activeUserEdit[$index] !== userListShow._id" data-ng-hide="saveLoader">
										<a data-ng-click="openConfirmModal($index,userListShow._id)"><span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span>
								</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main container -->
</div>
