<div class="row register-popup lesson-popup">
  <div class="col-md-5 col-sm-5 col-xs-12 lesson-form create-lesson">
        <div class="panel panel-login ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 tab-reg active">

                        <a href="#" id="register-form-link">{{type}}</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form name="createLessonFormI" data-ng-submit="createLessonTypeImage(createLessonFormI.$valid)" novalidate>
                            <div class="form-group" ng-class="{ 'has-error': createLessonFormSubmitted && createLessonFormI.lessonName.$invalid }">
                                <input capitalize-first type="text" data-ng-model="lesson.name" data-ng-bind="lesson.name" name="lessonName" id="lessonname" tabindex="4" class="form-control" placeholder="LESSON NAME" value="" ng-minlength="5" ng-maxlength="1000" required>
                                <div class="help-block" ng-messages="createLessonFormI.lessonName.$error" data-ng-show="createLessonFormSubmitted">
                                    <p ng-message="required">Lesson name is required</p>
                                    <p ng-message="minlength">Name is too short - minimum length is 5 characters</p>
                                    <p ng-message="maxlength">Name is too long.</p>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': createLessonFormSubmitted && createLessonFormI.lessonDes.$invalid }">
                                <input capitalize-first type="text" ng-model="lesson.basic_description" name="lessonDes" id="lessondes" tabindex="5" class="form-control" placeholder="BRIEF DESCRIPTION" ng-minlength="20" ng-maxlength="2000" required>
                                <div class="help-block" ng-messages="createLessonFormI.lessonDes.$error" data-ng-show="createLessonFormSubmitted">
                                    <p ng-message="required">Brief description is required</p>
                                    <p ng-message="minlength">Description is too short - minimum length is 20 characters</p>
                                    <p ng-message="maxlength">Description is too long.</p>
                                </div>
                            </div>
                            <ul class="form-group clearfix">
                							<li class="or-upload" data-ng-hide='showVideoFile'>
                								<label class="custom-upload">
                									<input type='file' file-model='lesson.fileModel' id="fileUploaded" onchange="angular.element(this).scope().upload(this)">CHOOSE FILE
                								</label>
                							</li>
                							<li class="closepreview" data-ng-if="lesson.location">
                								<img ng-src="{{lesson.location}}" class="upload-image-preview">
                								<a data-ng-click="hidePreview()" class="myspace-close "><img src="assets/img/imgpsh_fullsize.png"></a>
                							</li>
                              <li class="clearfix">&nbsp;</li>
                							<li data-ng-if="noFile !=''" class="mesg-common"><span data-ng-bind="noFile"></span></li>
                							<li>
                								<div data-ng-show="uploadLoader" class="progress">
                									<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="percentageStyle">
                										<span class="sr-only">Complete</span>
                									</div>
                								</div>
                							</li>
                						</ul>


                            <div data-ng-show="lessonResultMsg" class="col-sm-12 ng-scope" ng-class="msgClass">
                                <span class="ng-binding" data-ng-bind="sucessMsg"></span>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="register-submit-create-lesson" id="register-submit-create-lesson" tabindex="9" class="form-control btn btn-register" value="SUBMIT">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a data-ng-click="closeModal()" class="myspace-close"><img src="assets/img/imgpsh_fullsize.png"></a>
    </div>
    <!-- <a data-ng-click="closeModal()" class="myspace-close"><img src="assets/img/imgpsh_fullsize.png"></a> -->
</div>
