<div class="row register-popup lesson-popup">
    <div class="col-md-5 col-sm-5 col-xs-12 lesson-form create-lesson">
        <div class="panel panel-login ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 tab-reg active">

                        <a href="#" id="register-form-link">{{type}}</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form name="createLessonFormv" data-ng-submit="createLessonTypeVideo(createLessonFormv.$valid)" novalidate>
                            <div class="form-group" ng-class="{ 'has-error': createLessonFormSubmitted && createLessonFormv.lessonName.$invalid }">
                                <input capitalize-first type="text" ng-model="lesson.name" name="lessonName" id="lessonname" tabindex="4" class="form-control" placeholder="LESSON NAME" value="" ng-minlength="5" ng-maxlength="1000" required>
                                <div class="help-block" ng-messages="createLessonFormv.lessonName.$error" data-ng-show="createLessonFormSubmitted">
                                    <p ng-message="required">Lesson name is required</p>
                                    <p ng-message="minlength">Name is too short - minimum length is 5 characters</p>
                                    <p ng-message="maxlength">Name is too long.</p>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': createLessonFormSubmitted && createLessonFormv.lessonDes.$invalid }">
                                <input capitalize-first type="text" ng-model="lesson.basic_description" name="lessonDes" id="lessondes" tabindex="5" class="form-control" placeholder="BRIEF DESCRIPTION" ng-minlength="20" ng-maxlength="2000" required>
                                <div class="help-block" ng-messages="createLessonFormv.lessonDes.$error" data-ng-show="createLessonFormSubmitted">
                                    <p ng-message="required">Brief description is required</p>
                                    <p ng-message="minlength">Description is too short - minimum length is 20 characters</p>
                                    <p ng-message="maxlength">Description is too long.</p>
                                </div>
                            </div>
                            <div>

                                <div class="clearfix text-left" data-ng-show="showVideoButton">
                                    <span class="orange-button ">
                  									<input type="button" data-ng-click=addVideo() value={{videoTitle}} class="form-control btn btn-register">
                  								</span>
                                </div>
                                <div class="clearfix row" data-ng-show='showVideo' ng-class="{ 'has-error': createLessonFormSubmitted && createLessonFormv.videoIdField.$invalid }">
                                    <div class="text-left">
                                        <div class="form-group">
                                            <label class="mt10">Add video id here:</label>
                                            <input class='form-control' type='text' style='color:black;' data-ng-model="videoId" name="videoIdField" id="videoIdField" minlength="6" maxlength="100" required>
                                            <div class="help-block error-red" ng-messages="createLessonFormv.videoIdField.$error" data-ng-show="createLessonFormSubmitted">
                                                <p ng-message="minlength">VIDEO-ID too short - minimum length is 6 characters</p>
                                                <p ng-message="maxlength">VIDEO-ID too long - maximum length is 10 characters</p>
                                                <p ng-message="required">VIDEO-ID is required</p>
                                            </div>
                                        </div>
                                        <div class="orange-button form-group">
                                            <input type="button" class="orange btn btn-default" data-ng-click="doneClick()" value="Done"/>
                                            <input type="button" class="orange btn btn-default" data-ng-click="cancelVideo()" value="Cancel"/>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div data-ng-show="lessonResultMsg" class="col-sm-12 text-left mt10 ng-scope" ng-class="msgClass">
                                <span class="ng-binding" data-ng-bind="sucessMsg"></span>
                            </div>
                            <div class="form-group">
                                <div class="row mt10 ">
                                    <div class="">
                                        <input type="submit" name="register-submit-create-lesson" id="register-submit-create-lesson" tabindex="9" class="form-control btn btn-register" value="SUBMIT">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a data-ng-click="closeModal()" class="myspace-close"><img src="assets/img/imgpsh_fullsize.png"></a>
    </div>
    <!-- <a data-ng-click="closeModal()" class="myspace-close"><img src="assets/img/imgpsh_fullsize.png"></a> -->
</div>
