<!-- masonary title -->

<div class="row">
	<div class="masonary-title col-md-12 col-xs-12 col-sm-12">
		<!--<h2><span data-ng-bind="name"></span></h2>-->
		<h2>
			<span data-ng-if="name.length > 15" data-ng-bind="name.substr(0,15) + '...'"></span>
			<span data-ng-if="name.length == 15 || name.length < 15" data-ng-bind="name"></span>
		</h2>
	</div>
	<div class="masonary-title-box text-uppercase">
		<div class="masonary-title">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<p>SEE WHAT IS TRENDING IN YOUR GROUP ACTIVITIES!</p>
			</div>
		</div>
		<div class="result-numbers pull-right">

		</div>
	</div>
	<!-- masonary title -->
	<!--Masonary Grid  -->
	<div class="masoranyGridBox" id="scrollLeasson" data-ng-show="hasActivities">
		<div id="masoranyGrid">
			<!-- gridItem starts -->

			<div data-ng-hide="activityloader" class="girdItem heightOne activity-list" data-ng-repeat="grpActivity in groupActivities" data-ng-click="viewActivity(grpActivity.activity._id)">
				<!-- <div class="round-close" data-ng-show="isAdminLoggedIn">
				<span class="glyphicon glyphicon-remove-circle" aria-hidden="true" data-ng-click="confirmModal(grpActivity.activity._id,grpActivity.activity.url, $event)"></span>
			</div> -->

				<div class="video-box">
					<span data-ng-if="grpActivity.activity.url !== ''" ng-style="{'background-image':'url({{grpActivity.activity.url}})'}"></span>
					<span data-ng-if="grpActivity.activity.url == ''" ng-style="{'background-image':'url(assets/img/icons/video-lag.png)'}"></span>
				</div>

				<div class="clearfix title-likes">
					<h5 class="heading-article">

						<div class="user-sec">
							<div class="user-image">
								<span data-ng-if="grpActivity.activity.user.local.avatar_url !== '' && grpActivity.activity.user.local.avatar_url !== null" ng-style="{'background-image':'url({{grpActivity.activity.user.local.avatar_url}})'}"></span>
								<span data-ng-if="grpActivity.activity.user.local.avatar_url == '' || grpActivity.activity.user.local.avatar_url == null" ng-style="{'background-image':'url(assets/img/icons/profile-pic.png)'}"></span>
							</div>

						</div>
					<!--</span>-->
					<span data-ng-if="grpActivity.activity.user.local.name.length > 8" data-ng-bind="grpActivity.activity.user.local.name.substr(0,8) + '..'"> </span>
					<span data-ng-if="grpActivity.activity.user.local.name.length == 8 || grpActivity.activity.user.local.name.length < 8" data-ng-bind="grpActivity.activity.user.local.name"> </span>

				</h5>
					<ul class="webActions clear-fix">
						<li><a href="" class="like-small"><span >{{grpActivity.activity.likes.length}}</span>&nbsp;<span>Likes</span> </a></li>

						<li><a href="" class="bookmark-small"><span >{{createdAt[$index].numberDate}}</span>&nbsp;<span>{{createdAt[$index].numberSpan}}</span>&nbsp;<span>ago</span></a></li>
					</ul>
				</div>
				<div class="main-artcle clearfix">

					<a data-ng-if="grpActivity.activity.module.name.length > 15" data-ng-bind="grpActivity.activity.module.name.substr(0,15) + '...'"> </a>
					<a data-ng-if="grpActivity.activity.module.name.length == 15 || grpActivity.activity.module.name.length < 15" data-ng-bind="grpActivity.activity.module.name"> </a>
					<ul>
						<li class="Afb">
							<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
						</li>
						<li class="Atw">
							<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</li>
					</ul>
					<!-- <a confirm-click data-ng-click="confirmClick(); $event.stopPropagation();">delete</a> -->
				</div>
			</div>

			<!-- <span data-ng-show="mycommListShow" class="no-lessons"> There is no activity</span> -->
			<img data-ng-show="activityloader" src="assets/img/ajax-loader.gif" /> </div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<span data-ng-hide="hasActivities" class="no-lessons"> There is no activity</span>
	</div>
</div>
<!--Masonary Grid  -->
