<div class="container-fluid">
	<!-- Main container -->
	<div class="row">
		<div class="main-wrapper">
			<!-- side content starts -->
			<!-- <div class="col-md-3 paddinig0 column-left">
				<div class="side-content-wrapper">
					<modules-List></modules-List>
				</div>
			</div> -->
			<!-- side content ends -->
			<!-- Right masonary content -->
			<div class="col-md-12 paddinig0">
				<div id="exTab2" class="container video-tab-box">
					<div class="ul-links pull-right">
						<ul>
							<li class="formTagOuter" data-ng-show="isLoggedIn">
								<div class="form-group formTag" data-ng-show="isLoggedIn || isAdminLoggedIn">
									<span class="searchBox"><i class="fa fa-search" aria-hidden="true"></i></span>
									<tags-input ng-show="patternSelected=='Module'" ng-blur="text=''" text="text" ng-model="tags" placeholder="Search by module" replace-spaces-with-dashes="false" on-tag-adding="tagAdding($tag)" on-tag-removed="tagRemoved($tag)" tabindex="3" display-property="name" add-from-autocomplete-only="true">
										<auto-complete source="loadMatching($query)" min-length="0" debounce-delay="0" max-results-to-show="10">
										</auto-complete>
									</tags-input>
									<tags-input ng-show="patternSelected=='Tag'" ng-blur="text=''" text="text" ng-model="tags" placeholder="Search by tag" replace-spaces-with-dashes="false" on-tag-adding="tagAdding($tag)" on-tag-removed="tagRemoved($tag)" tabindex="3" display-property="text" add-from-autocomplete-only="true">
										<auto-complete source="loadMatching($query)" min-length="0" debounce-delay="0" max-results-to-show="10">
										</auto-complete>
									</tags-input>
									<tags-input ng-show="patternSelected=='User'" ng-blur="text=''" text="text" ng-model="tags" placeholder="Search by user" replace-spaces-with-dashes="false" on-tag-adding="tagAdding($tag)" on-tag-removed="tagRemoved($tag)" tabindex="3" display-property="name" key-property="_id" add-from-autocomplete-only="true">
										<auto-complete source="loadMatching($query)" min-length="0" debounce-delay="0" max-results-to-show="10">
										</auto-complete>
									</tags-input>

									<div class="dropdown filterDropdown" data-ng-show="isAdminLoggedIn || isLoggedIn">
										<a id="search-toggle" data-toggle="dropdown" class="more-header"><i class="fa fa-filter" aria-hidden="true"></i></a>
										<div class="dropdown-menu" ng-click="stopEvent($event)">
											<ul id="drop-down">
												<li data-ng-click="pattern(1)">Module</li>
												<li data-ng-click="pattern(2)">Tag</li>
												<li data-ng-click="pattern(3)">User</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li data-ng-class="{'active' : activeSection=='community' && !myTabs || (!isLoggedIn && !isAdminLoggedIn)}">
								<a href="javascript:void(0)" data-event-category="tab click" data-event-action="Community Space" class="C-Space" data-ng-click="showMycommunity()" data-toggle="tooltip" data-placement="top" title="Click on modules for all the lessons">Community Space</a>
							</li>
							<li data-ng-show="isLoggedIn" data-ng-class="{'active' : activeSection=='groups' && myTabs}">
								<a href="javascript:void(0)" data-event-category="tab click" data-event-action="My Groups" data-ng-click="showMyGroups()">My Groups</a>
							</li>

							<li data-ng-show="isLoggedIn" data-ng-class="{'active' : activeSection=='space' && myTabs}">
								<a href="javascript:void(0)" data-event-category="tab click" data-event-action="My Space" data-ng-click="showMyspace()">My Space</a>
							</li>
						</ul>
					</div>
					<ul class="nav nav-tabs" data-ng-show="isLoggedIn || isAdminLoggedIn">
						<!-- <li data-ng-class="{'active' : activeModule[$index]==true && !myTabs && !adminCommunity}" ng-repeat="module in firstModules" ng-click="moduleClicked($index,module)">
							<a data-event-category="module click" data-event-action={{module.name}} data-toggle="tab" title={{module.name}}>{{module.name}}</a>
						</li> -->

						<li data-ng-show="showMore">
							<div class="dropdown">
								<a id="module-toggle" data-toggle="dropdown" class="more-header">Select Module
								<span aria-hidden="true" class="glyphicon glyphicon-triangle-bottom"></span></a>
								<div class="dropdown-menu" ng-click="stopEvent($event)">
									<ul id="drop-down">
										<li ng-repeat="module in lastModules" ng-class="{'active' : activeModuleLast[$index]==true && !myTabs && !adminCommunity}">
											<a data-event-category="module click" data-event-action={{module.name}} data-toggle="tab" ng-click="moduleClicked($index,module,1)">{{module.name}}</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
						<br></br>
					<div class="progress" data-ng-show="showProgress">
						<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="{{max}}" ng-style="{width: (percent < 100 ? percent : 100) + '%'}">
							<span class="sr-only">{{current}}%{{max}}</span>
						</div>
					</div>
					<modules-List data-ng-show="moduleDetails"></modules-List>
					<!-- <common-Community></common-Community> -->
					<community data-ng-show="showCommunity"></community>
					<!-- <my-Space data-ng-show="showSpace"></my-Space>
					<my-Groups data-ng-show="showGroups"></my-Groups> -->
					<lesson-Activity data-ng-show="showLessonActivity" lesson="lessonForActivity"></lesson-Activity>
					<last-Component data-ng-show="showLastComponent"></last-Component>
					<!-- <group-Activities data-ng-show="showGrpActivities"></group-Activities> -->
					<div ui-view=""></div>
					<!-- <register-Form data-ng-show="showRegForm"></register-Form> -->
					<!-- </div> -->
				</div>
			</div>
			<!-- Right masonary content -->
		</div>
	</div>
	<!-- Main container -->
</div>

<!-- container fluis ends -->
