<div class="row register-popup lesson-popup">
    <div class="col-md-5 col-sm-5 col-xs-12 lesson-form create-lesson">
        <div class="panel panel-login ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 tab-reg active">

                        <a href="#" id="register-form-link">CREATE USER</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form name="createUserForm" data-ng-submit="submitRegistration(createUserForm.$valid)" novalidate>
                          <div class="form-group"  ng-class="{ 'has-error': userSubmitted && createUserForm.name.$invalid }">
              							 <input type="text" name="name" class="form-control" ng-model="user.name" tabindex="1" id="uname" ng-minlength="5" ng-maxlength="100" required placeholder="Name">
              							  <div class="help-block" ng-messages="createUserForm.name.$error" data-ng-show="userSubmitted">
              							    <p data-ng-show="userSubmitted" ng-message="minlength"> Name too short - minimum length is 5 characters</p>
              							    <p ng-message="maxlength">Name is too long.</p>
              							    <p ng-message="required">Name is required.</p>
              					      </div>
              						</div>

                            <div class="form-group" ng-class="{ 'has-error': userSubmitted && createUserForm.dob.$invalid }">
                                <input show-button-bar="false" readonly type="text" ng-click="open1()" class="form-control" uib-datepicker-popup="{{format}}" tabindex="2" ng-model="dt" is-open="popup1.opened" min-date="'1970-01-01'" max-date="maxDate" datepicker-options="dateOptions"
                                    date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="dob" id="dob" placeholder="DOB" />
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                <div class="help-block" ng-messages="createUserForm.dob.$error" data-ng-show="userSubmitted">
                                    <p ng-message="required">DOB is required.</p>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': userSubmitted && createUserForm.email.$invalid }">
            									<input ng-model="user.email" tabindex="3" class="form-control" name="userEmail" placeholder="EMAIL" ng-maxlength="100" required ng-change="emailValidate()" id="userEmail"  dont-Fill />
            									<div class="help-block" ng-messages="createUserForm.userEmail.$error" data-ng-show="userSubmitted">
            										<p ng-message="minlength">Email too short - minimum length is 6 characters</p>
            										<p ng-message="maxlength">This field is too long</p>
            										<p ng-message="required">Email is required</p>
            										<p ng-message="email">This needs to be a valid email</p>
            									</div>
            									<div class="red" data-ng-show="showErrEmail">
            										<p data-ng-bind="errMsg"></p>
            									</div>
            								</div>

                            <div class="form-group" ng-class="{ 'has-error': userSubmitted && createUserForm.password.$invalid }">
            									<input type="password" data-ng-model="user.password" required id="userPassword" tabindex="4" class="form-control" name="userPassword" ng-minlength="6" ng-maxlength="100" placeholder="PASSWORD" id="password"  dont-Fill/>
            									<div class="help-block" ng-messages="createUserForm.userPassword.$error" data-ng-show="userSubmitted">
            										<p ng-message="minlength">Password too short - minimum length is 6 characters</p>
            										<p ng-message="maxlength">Password is too long</p>
            										<p ng-message="required">Password is required</p>
            									</div>
            								</div>
                            <!-- <div class="learn-lesson clearfix">
								<a href=""><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><span class="lession-text">ADD ACTIONS</span></a>
							</div> -->
                            <div data-ng-show="sucessMessage" class="col-sm-12 ng-scope" ng-class="msgClass">
                                <span class="ng-binding" data-ng-bind="sucessMsg"></span>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="register-submit-create-lesson" id="register-submit-create-lesson" tabindex="5" class="form-control btn btn-register" value="SUBMIT">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <a data-ng-click="closeModal()" class="myspace-close"><img src="assets/img/imgpsh_fullsize.png"></a>
        </div>
        <!-- <a data-ng-click="closeModal()" class="myspace-close"><img src="assets/img/imgpsh_fullsize.png"></a> -->
    </div>

</div>
