<!-- masonary title -->
<div class="masonary-title-box text-uppercase">
	<div class="masonary-title">
		<h2>{{module.name}}</h2>
		<p>CONGRATULATIONS! Look at all the awesome stuff you have done...</p>
	</div>
	<div class="result-numbers pull-right">
		<!-- <p>Showing 9/274 <span></span></p> -->
	</div>
</div>
<!-- masonary title -->
<!--Masonary Grid  -->
<div class="masoranyGridBox">
	<div id="masoranyGrid" class="clearfix">
		<!-- gridItem starts -->
		<img data-ng-show="commloader" src="assets/img/ajax-loader.gif" />
		<div data-ng-hide="commloader" class="girdItem heightOne" data-ng-repeat="activity in allActivities">
			<h5 class="heading-article">
				<span>
				<span>{{APP.currentUser.name}}</span>
				</span>
			</h5>
			<div class="video-box" data-ng-if="activity.type=='image'">
				<span data-ng-if="activity.url !== ''" ng-style="{'background-image':'url({{activity.url}})'}"></span>
				<span data-ng-if="activity.url == ''" ng-style="{'background-image':'url(assets/img/icons/video-lag.png)'}"></span>
			</div>
			<div class="video-box" data-ng-if="activity.type=='video'">
				<youtube-video video-id="activity.url"></youtube-video>
			</div>
			<div class="main-artcle clearfix last-component">
				<div class="user-sec">

					<div class="user-image">
						<!--<img data-ng-if="activity.user.local.avatar_url!=null:'url({{activity.user.local.avatar_url}})'" class="user-image" alt="User Image">-->
						<span data-ng-if="activity.user.local.avatar_url !== '' && activity.user.local.avatar_url !== null" ng-style="{'background-image':'url({{activity.user.local.avatar_url}})'}"></span>
						<span data-ng-if="activity.user.local.avatar_url == '' || activity.user.local.avatar_url == null" ng-style="{'background-image':'url(assets/img/icons/profile-pic.png)'}"></span>
					</div>
				</div>
				<div class="user-des">
					<h3 class="clearfix"><a>{{activity.user.local.name}}</a></h3>
					<h4 class="clearfix"><a href="" data-ng-bind="activity.description.substr(0,20) + '....'"></a></h4>
				</div>
				<!-- <a confirm-click data-ng-click="confirmClick(); $event.stopPropagation();">delete</a> -->
			</div>
		</div>
	</div>
	<span data-ng-show="noActivities" class="no-lessons"> There is no activity</span>
</div>
<!--Masonary Grid  -->
