<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>MindMax</title>
    <base href="/">
    <script src="assets/js/jquery-1.12.0.min.js" type="text/javascript"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="assets/js/imagesloaded.pkgd.js" type="text/javascript"></script>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" type="text/css">
    <link href="assets/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/stylesheet.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/responsive.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/jquery.ui.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/ng-tags-input.bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="assets/js/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <!--<link href-"assets/css/ng-scrollbar.min.css" type="text/css" rel="stylesheet"/>-->

    <!-- <link href="assets/css/font-awesome.min.css" type="text/css" rel="stylesheet" /> -->
    <script src="assets/js/masonry.pkgd.min.js" type="text/javascript"></script>
    <!-- <script src="http://sdk.amazonaws.com/js/aws-sdk-2.2.39.min.js"></script>
 -->
    <script type="text/javascript" src="assets/js/aws-sdk-2.2.39.min.js"></script>

    <script src="assets/js/amazon-cognito.min.js" type="text/javascript"></script>


</head>

<body data-ng-class="{'main-class' : isLoggedIn || isAdminLoggedIn}" data-ng-app="eLearning" data-ng-controller="AppController" class="{{containerClass}}">
    <header></header>

    <div ui-view="" id="index-grid"></div>

</body>
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-animate.js"></script>
<!-- <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script> -->
<script type="text/javascript" src="assets/js/ui-bootstrap-tpls-1.1.2.js"></script>
<script type="text/javascript" src="assets/js/angular-ui-router.js"></script>

<script src="assets/js/angular-resource-1.0.0rc6.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script> -->
<script type="text/javascript" src="assets/js/angular-messages.js"></script>
<script type="text/javascript" src="assets/js/angular-confirm.js"></script>
<!-- main Module -->
<script type="text/javascript" src="app/app.module.js"></script>
<!-- main route  -->
<script type="text/javascript" src="app/app.routes.js"></script>
<!-- <script type="text/javascript" src="assets/js/home.js"></script>
 -->
<script type="text/javascript" src="app/config.js"></script>
<script type="text/javascript" src="assets/js/angular-file-model.js"></script>
<script type="text/javascript" src="app/constants.js"></script>
<script type="text/javascript" src="assets/js/angular-socialshare.js"></script>
<script type="text/javascript" src="assets/js/autosize.js"></script>
<script type="text/javascript" src="assets/js/widgets.js"></script>
<script type="text/javascript" src="assets/js/ng-infinite-scroll.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="assets/js/ng-tags-input.min.js"></script>
<script type="text/javascript" src="assets/js/roundProgress.min.js"></script>
<script type="text/javascript" src="assets/js/ng-file-upload-shim.min.js"></script>
<script type="text/javascript" src="assets/js/ng-file-upload.js"></script>

<!--Youtube embed-->
<script src="https://www.youtube.com/iframe_api"></script>
<script src="assets/js/angular-youtube-embed.js"></script>

<!--<script src="assets/js/ng-scrollbar.min.js"></script>-->
<!--<script src="assets/js/jquery.nicescrollbar.min.js"></script>-->

<script type="text/javascript" src="build/app/js/scripts/scripts.uglify.js"></script>
<!-- <script type="text/javascript" src="build/app/js/scripts/scripts.js"></script> -->

<!--Google Analytics-->
<script>
    window.ga = window.ga || function() {
        (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;

    ga('create', 'UA-78176315-1', 'auto');
    ga('create', 'UA-78057124-1', 'auto', 'clientTracker');

    ga('require', 'autotrack');
    ga('clientTracker.require', 'autotrack');

    ga('send', 'pageview');
    ga('clientTracker.send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script async src='assets/js/autotrack.js'></script>
<!-- <script>
    (function($) {
        $(window).load(function() {
            $("#header-noti, #more-list, #dropdown-group, #drop-down").mCustomScrollbar({
                theme: "dark-2"
            });
        });
    })(jQuery);
</script>
<script>
    (function($) {
        setTimeout(function() {
            $("#header-noti, #more-list, #dropdown-group, #drop-down").mCustomScrollbar({
                theme: "dark-2"
            });
        }, 2000);
    })(jQuery);
</script> -->
<script>
    $(document).ready(function() {
        $(window).on("load resize", function(e) {
            $("#header-noti, #more-list, #dropdown-group, #drop-down").mCustomScrollbar({
                theme: "dark-2"
            });
        });
    });
</script>
 <script>
    $(document).ready(function() {
        $(window).on("load resize", function(e) {
            $("#header-noti, #more-list, #dropdown-group, #drop-down").mCustomScrollbar({
                theme: "dark-2"
            });
        });
    });
</script>
</html>
