<div class="register-popup" style="margin-top:8px;">
	<div class="panel panel-login">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-6 tab-reg" data-ng-class="{'active': showLoginForm }" data-ng-hide="showForgotPass">
					<a data-ng-click="showLogin()" id="login-form-link">Log in</a>
				</div>
				<div class="col-xs-6 tab-reg" data-ng-class="{'active': showRegForm }" data-ng-hide="showForgotPass">
					<a data-ng-click="showRegister()" id="register-form-link">Register</a>
				</div>
				<div class="col-xs-12 tab-reg active" data-ng-show="showForgotPass">
					<a data-ng-click="showLogin()" id="login-form-link">Forgot Password</a>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-12">
					<form data-ng-show="showLoginForm" name="loginForm" data-ng-submit="login(loginForm.$valid)" novalidate>
						<div class="form-group" ng-class="{ 'has-error': loginFormSubmitted && loginForm.email.$invalid }">
							<input type="email" data-ng-model="user.email" tabindex="1" class="form-control" name="email" placeholder="EMAIL" ng-minlength="6" ng-maxlength="100" required id="email">
							<div class="help-block" ng-messages="loginForm.email.$error" data-ng-show="loginFormSubmitted">
								<p ng-message="minlength"> Email too short - minimum length is 6 characters</p>
								<p ng-message="maxlength">Email is too long</p>
								<p ng-message="required">Email is required</p>
								<p ng-message="email">This needs to be a valid email</p>
							</div>
						</div>

						<div class="form-group" ng-class="{ 'has-error': loginFormSubmitted && loginForm.password.$invalid }">
							<input type="password" data-ng-model="user.password" required id="password" tabindex="2" class="form-control" name="password" ng-minlength="6" ng-maxlength="100" placeholder="PASSWORD" id="password">
							<div class="help-block" ng-messages="loginForm.password.$error" data-ng-show="loginFormSubmitted">
								<p ng-message="minlength">Password too short - minimum length is 6 characters</p>
								<p ng-message="maxlength">Password is too long</p>
								<p ng-message="required">Password is required</p>
							</div>
							<div class="text-right">
								<a data-ng-click="forgotPassword()" tabindex="5" class="forgot-password">FORGOT PASSWORD</a>
							</div>
						</div>
						<div class="socialIcons form-group text-center col-md-6 col-sm-6 col-xs-12 col-sm-offset-3">
							<ul>
								<li><img src="assets/img/facebook.png" data-ng-click="facebookLogin()" /></li>
								<li><img src="assets/img/google-plus.png" data-ng-click="googlePlusLogin()" /></li>
								<li><img src="assets/img/twitter.png" data-ng-click="twitterLogin()" /></li>
							</ul>
						</div>
						<div class="form-group">
							<div class="row">
								<div data-ng-show="userNotFound || userPassWrong" class="col-sm-12 mesg-common">
									<span data-ng-bind="msgShow"><span/>
							    </div>

								<div data-ng-show="loginStart" class="col-sm-6 col-sm-offset-5">
									<img  src="assets/img/ajax-loader.gif"/>
								</div>
								<div data-ng-hide="loginStart" class="col-sm-6 col-sm-offset-3">
									<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="SUBMIT">
								</div>
								<!-- <a data-ng-click="facebookLogin()">Fb</a>
								<a data-ng-click="twitterLogin()">google</a>
								<a data-ng-click="twitterLogin()">tw</a> -->

							</div>
						</div>
					</form>

					<form data-ng-show="showRegForm" name="userForm"  data-ng-submit="submitRegistration(userForm.$valid)" novalidate class="regiForm">
						<div class="form-group"  ng-class="{ 'has-error': formSubmitted && userForm.name.$invalid }">
							 <input type="text" name="name" class="form-control" ng-model="user.name" tabindex="3" id="uname" ng-maxlength="100" required placeholder="Name">
							  <div class="help-block" ng-messages="userForm.name.$error" data-ng-show="formSubmitted">
							    <!--<p data-ng-show="formSubmitted" ng-message="minlength"> Name too short - minimum length is 5 characters</p>-->
							    <p ng-message="maxlength">Name is too long.</p>
							    <p ng-message="required">Name is required.</p>
					      </div>
						</div>

						<div class="form-group" ng-class="{ 'has-error': formSubmitted && userForm.dob.$invalid }">
							<input show-button-bar="false" readonly type="text" ng-click="open1()" class="form-control" uib-datepicker-popup="{{format}}" tabindex="4" ng-model="dt" is-open="popup1.opened" min-date="'1970-01-01'" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="dob" id="dob" placeholder="DOB"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>

									<div class="help-block" ng-messages="userForm.dob.$error" data-ng-show="formSubmitted">
										<p ng-message="required">DOB is required.</p>
									</div>
								</div>

								<div class="form-group" ng-class="{ 'has-error': formSubmitted && userForm.email.$invalid }">
									<input ng-model="user.email" tabindex="5" class="form-control" name="email" placeholder="EMAIL" ng-maxlength="100" required ng-change="emailValidate()" id="email">
									<div class="help-block" ng-messages="userForm.email.$error" data-ng-show="formSubmitted">
										<p ng-message="minlength">Email too short - minimum length is 6 characters</p>
										<p ng-message="maxlength">This field is too long</p>
										<p ng-message="required">Email is required</p>
										<p ng-message="email">This needs to be a valid email</p>
									</div>
									<div class="red" data-ng-show="showErrEmail">
										<p data-ng-bind="errMsg"></p>
									</div>
								</div>

								<div class="form-group" ng-class="{ 'has-error': formSubmitted && userForm.password.$invalid }">
									<input type="password" data-ng-model="user.password" required id="password" tabindex="6" class="form-control" name="password" ng-minlength="6" ng-maxlength="100" placeholder="PASSWORD" id="password">
									<div class="help-block" ng-messages="userForm.password.$error" data-ng-show="formSubmitted">
										<p ng-message="minlength">Password too short - minimum length is 6 characters</p>
										<p ng-message="maxlength">Password is too long</p>
										<p ng-message="required">Password is required</p>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div data-ng-show="signupStart" class="col-sm-6 col-sm-offset-5">
											<img src="assets/img/ajax-loader.gif" />
										</div>
										<div data-ng-hide="signupStart" class="col-sm-6 col-sm-offset-3">

											<input type="submit" name="register-submit" id="register-submit" tabindex="7" class="form-control btn btn-register" value="SUBMIT" ng-disabled="checkingEmail">

										</div>
									</div>
								</div>
					</form>
					<form data-ng-show="showForgotPass" name="forgotForm" data-ng-submit="forgotPasswordSave()" novalidate>
						<div class="form-group" ng-class="{ 'has-error': forgotSubmitted && forgotForm.email.$invalid }">
							<input type="email" data-ng-model="forgot.email" tabindex="8" class="form-control" name="email" placeholder="EMAIL" ng-minlength="6" ng-maxlength="100" required id="email">
							<div class="help-block" ng-messages="forgotForm.email.$error" data-ng-show="forgotSubmitted">
								<p ng-message="minlength"> Email too short - minimum length is 6 characters</p>
								<p ng-message="maxlength">Email is too long</p>
								<p ng-message="required">Email is required</p>
								<p ng-message="email">This needs to be a valid email</p>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div data-ng-show="forgotLoader" class="col-sm-6 col-sm-offset-5">
									<img src="assets/img/ajax-loader.gif" />
								</div>
								<div data-ng-if="forgotmessage !== ''" class="col-sm-12 text-center" ng-class="msgClass">
									<span data-ng-bind="forgotmessage"></span>
								</div>
								<div data-ng-hide="forgotLoader" class="col-sm-6 col-sm-offset-3">
									<input type="submit" name="login-submit" id="login-submit" tabindex="9" class="form-control btn btn-login" value="SUBMIT">
								</div>

							</div>
						</div>
					</form>
					</div>
					</div>
				</div>
			</div>
			<a data-ng-click="closeModal()" class="myspace-close"><img src="assets/img/imgpsh_fullsize.png"></a>
		</div>
