<div class="row register-popup lesson-popup" data-ng-show="firstForm">
	<div class="col-md-5 col-sm-5 col-xs-12 lesson-form">
		<div class="panel panel-login">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6 tab-reg" data-ng-class="{'active': showCreateForm }" data-ng-click="createModuleForm()">
						<a id="login-form-link">CREATE</a>
					</div>
					<div class="col-xs-6 tab-reg" data-ng-class="{'active': showEditForm }" data-ng-click="editModuleForm()">
						<a id="register-form-link">EDIT</a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<form data-ng-show="showCreateForm" name="createForm" data-ng-submit="createModule(createForm.$valid)" novalidate>
							<div class="form-group" ng-class="{ 'has-error': createFormSubmitted && createForm.mname.$invalid }">
								<input capitalize-first type="text" ng-model="module.name" required name="mname" id="mname" tabindex="1" class="form-control" ng-minlength="5" ng-maxlength="1000" placeholder="MODULE NAME">
								<div class="help-block" ng-messages="createForm.mname.$error" data-ng-show="createFormSubmitted">
									<p ng-message="required">Module name is required</p>
									<p ng-message="minlength">Name is too short - minimum length is 5 characters</p>
									<p ng-message="maxlength">Name is too long.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': createFormSubmitted && createForm.mdescripion.$invalid }">
								<textarea capitalize-first type="text" ng-model="module.description" required name="mdescripion" id="mdescripion" tabindex="2" class="form-control" ng-minlength="20" ng-maxlength="2000" placeholder="MODULE DESCRIPTION"></textarea>
								<div class="help-block" ng-messages="createForm.mdescripion.$error" data-ng-show="createFormSubmitted">
									<p ng-message="required">Module description is required</p>
									<p data-ng-show="createFormSubmitted" ng-message="minlength">Description too short - minimum length is 20 characters</p>
									<p ng-message="maxlength">Description is too long.</p>
								</div>
							</div>
							<!--<div class="learn-lesson clearfix">
								<a href=""><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><span class="lession-text">CREATE NEW LESSON</span></a>
							</div>-->
							<div data-ng-show="resultMsg" class="col-sm-12 ng-scope" ng-class="msgClass">
								<span class="ng-binding" data-ng-bind="sucessMsg"></span>
							</div>
							<div class="col-sm-12 ng-scope" style="text-align:center" data-ng-show="loader">
								<img src="assets/img/ajax-loader.gif" />
							</div>
							<div class="form-group" data-ng-hide="loader">
								<div class="row">
									<div class="col-sm-8 col-sm-offset-2">
										<input type="submit" name="login-submit-create-lesson" id="login-submit-create-lesson" tabindex="3" class="form-control btn btn-login" value="SUBMIT">
									</div>
								</div>
							</div>
						</form>

						<form data-ng-show="showEditForm" name="editForm" data-ng-submit="updateModule(editForm.$valid)" novalidate>
							<div class="form-group" ng-class="{ 'has-error': editFormSubmitted && editForm.ename.$invalid }">
								<input capitalize-first type="text" name="ename" ng-model="editFormData.name" id="ename" tabindex="1" class="form-control" placeholder="MODULE NAME" ng-minlength="5" ng-maxlength="1000" required>
								<div class="help-block" ng-messages="editForm.ename.$error" data-ng-show="editFormSubmitted">
									<p ng-message="required">Module name is required</p>
									<p ng-message="minlength">Name is too short - minimum length is 5 characters</p>
									<p ng-message="maxlength">Name is too long.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': editFormSubmitted && editForm.edescription.$invalid }">
								<textarea capitalize-first type="text" ng-model="editFormData.description" name="edescription" id="edescription" tabindex="2" class="form-control" ng-minlength="20" ng-maxlength="2000" placeholder="MODULE DESCRIPTION" required></textarea>
								<div class="help-block" ng-messages="editForm.edescription.$error" data-ng-show="editFormSubmitted">
									<p ng-message="required">Module description is required</p>
									<p ng-message="minlength">Description is too short - minimum length is 20 characters</p>
									<p ng-message="maxlength">Description is too long.</p>
								</div>
							</div>
							<div class="edit-tittle">
								<h2>LESSONS</h2>
								<ul>
									<li data-ng-if="totalLesson.length" data-ng-repeat="lessonValue in totalLesson track by $index">{{lessonValue.name}}</li>
									<li data-ng-if="!totalLesson.length">No lesson found</li>
								</ul>
							</div>
							<div class="learn-lesson clearfix">
									<input type="radio" name='lesstionType' data-ng-click="selectLessonType(0)" checked />Activity<br>
									<input type="radio" name='lesstionType' data-ng-click="selectLessonType(1)" />Image<br>
									<input type="radio"  name='lesstionType' data-ng-click="selectLessonType(2)" />Video<br>
									<input type="radio"  name='lesstionType' data-ng-click="selectLessonType(3)" />Text<br><br>
								<a data-ng-click="showCreateLessonForm()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><span class="lession-text">CREATE NEW LESSON</span></a>
							</div>
							<div data-ng-show="resultMsg" class="col-sm-12 ng-scope" ng-class="msgClass">
								<span class="ng-binding" data-ng-bind="sucessMsg"></span>
							</div>
							<div class="col-sm-12 ng-scope" style="text-align:center" data-ng-show="loader">
								<img src="assets/img/ajax-loader.gif" />
							</div>
							<div class="form-group" data-ng-hide="loader">
								<div class="row">
									<div class="col-sm-8 col-sm-offset-2">
										<input type="submit" name="login-submit" id="login-submit" tabindex="3" class="form-control btn btn-login" value="SUBMIT">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<a data-ng-click="closeModal()" class="myspace-close"><img src="assets/img/imgpsh_fullsize.png"></a>
	</div>









	<div class="col-md-5 col-sm-5 col-xs-12 lesson-form create-lesson" data-ng-show="createLessonView">
		<div class="panel panel-login ">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-12 tab-reg active">

						<a href="#" id="register-form-link">CREATE LESSON</a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<form name="createLessonForm" data-ng-submit="createLesson(createLessonForm.$valid)" novalidate>
							<div class="form-group" ng-class="{ 'has-error': createLessonFormSubmitted && createLessonForm.lessonName.$invalid }">
								<input capitalize-first type="text" ng-model="lesson.name" name="lessonName" id="lessonname" tabindex="4" class="form-control" placeholder="LESSON NAME" value="" ng-minlength="5" ng-maxlength="1000" required>
								<div class="help-block" ng-messages="createLessonForm.lessonName.$error" data-ng-show="createLessonFormSubmitted">
									<p ng-message="required">Lesson name is required</p>
									<p ng-message="minlength">Name is too short - minimum length is 5 characters</p>
									<p ng-message="maxlength">Name is too long.</p>
								</div>
							</div>

							<div class="form-group" ng-class="{ 'has-error': createLessonFormSubmitted && createLessonForm.lessonDes.$invalid }">
								<input capitalize-first type="text" ng-model="lesson.basic_description" name="lessonDes" id="lessondes" tabindex="5" class="form-control" placeholder="BRIEF DESCRIPTION" ng-minlength="20" ng-maxlength="2000" required>
								<div class="help-block" ng-messages="createLessonForm.lessonDes.$error" data-ng-show="createLessonFormSubmitted">
									<p ng-message="required">Brief description is required</p>
									<p ng-message="minlength">Description is too short - minimum length is 20 characters</p>
									<p ng-message="maxlength">Description is too long.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': createLessonFormSubmitted && createLessonForm.lessonDDes.$invalid }">
								<textarea capitalize-first type="text" ng-model="lesson.detail_description" name="lessonDDes" id="lessonddes" tabindex="6" class="form-control" placeholder="DETAIL DESCRIPTION" ng-minlength="20" ng-maxlength="2000" required></textarea>
								<div class="help-block" ng-messages="createLessonForm.lessonDDes.$error" data-ng-show="createLessonFormSubmitted">
									<p ng-message="required">Detail description is required</p>
									<p ng-message="minlength">Description is too short - minimum length is 20 characters</p>
									<p ng-message="maxlength">Description is too long.</p>
								</div>
							</div>
							<!-- <div class="form-group" ng-class="{ 'has-error': createLessonFormSubmitted && createLessonForm.lessonDes.$inv
							alid }">
								<input type="text" ng-model="lesson.bdescription" name="lessonDes" id="lessondes" tabindex="2" class="form-control" placeholder="DETAIL DESCRIPTION" required>
								<div class="help-block" ng-messages="createLessonForm.lessonDes.$error" data-ng-show="createLessonFormSubmitted">
									<p ng-message="required">Description is required</p>
								</div>
							</div> -->
							<div class="form-group" ng-class="{ 'has-error': createLessonFormSubmitted && createLessonForm.lessonActivity.$invalid }">
								<input capitalize-first type="text" ng-model="lesson.activity" name="lessonActivity" id="lessonActivity" tabindex="7" class="form-control" placeholder="ACTIVITY" value="" required>
								<div class="help-block" ng-messages="createLessonForm.lessonActivity.$error" data-ng-show="createLessonFormSubmitted">
									<p ng-message="required">Activity is required</p>
									<!-- <p data-ng-show="createLessonFormSubmitted" ng-message="minlength">Description is too short - minimum length is 5 characters</p>
									<p ng-message="maxlength">Description is too long.</p> -->
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': createLessonFormSubmitted && createLessonForm.Keytakeaways.$invalid }">
								<input capitalize-first type="text" ng-model="lesson.Keytakeaways" name="Keytakeaways" id="Keytakeaways" tabindex="8" class="form-control" placeholder="KEY TAKEAWAYS" ng-minlength="5" ng-maxlength="1000" required>
								<div class="help-block" ng-messages="createLessonForm.Keytakeaways.$error" data-ng-show="createLessonFormSubmitted">
									<p ng-message="required">Keytakeaway is required</p>
									<p data-ng-show="createLessonFormSubmitted" ng-message="minlength">Keytakeaway is too short - minimum length is 5 characters</p>

								</div>
							</div>
							<!-- <div class="learn-lesson clearfix">
								<a href=""><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><span class="lession-text">ADD ACTIONS</span></a>
							</div> -->
							<div data-ng-show="lessonResultMsg" class="col-sm-12 ng-scope" ng-class="msgClass">
								<span class="ng-binding" data-ng-bind="sucessMsg"></span>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<input type="submit" name="register-submit-create-lesson" id="register-submit-create-lesson" tabindex="9" class="form-control btn btn-register" value="SUBMIT">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- <a data-ng-click="closeModal()" class="myspace-close"><img src="assets/img/imgpsh_fullsize.png"></a> -->
	</div>

</div>





<!-- edit lesson form -->
<div class="row register-popup lesson-popup" data-ng-show="secondForm">
	<div class="col-md-5 lesson-form">
		<div class="panel panel-login">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-12 tab-reg active">
						<a href="#" id="register-form-link">EDIT LESSON</a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<form name="editLessonForm" data-ng-submit="editLesson(editLessonForm.$valid)" novalidate>
							<div class="form-group" ng-class="{ 'has-error': editLessonFormSubmitted && editLessonForm.lessonEName.$invalid }">
								<input capitalize-first type="text" ng-model="lesson1.name" name="lessonEName" id="lessonEName" tabindex="1" class="form-control" placeholder="LESSON NAME" value="" ng-minlength="5" ng-maxlength="1000" required>
								<div class="help-block" ng-messages="editLessonForm.lessonEName.$error" data-ng-show="editLessonFormSubmitted">
									<p ng-message="required">Lesson name is required</p>
									<p ng-message="minlength">Name is too short - minimum length is 5 characters</p>
									<p ng-message="maxlength">Name is too long.</p>

								</div>
							</div>

							<div class="form-group" ng-class="{ 'has-error': editLessonFormSubmitted && editLessonForm.lessonEDes1.$invalid }">
								<input capitalize-first type="text" ng-model="lesson1.basic_description" name="lessonEDes1" id="lessonEDes1" tabindex="2" class="form-control" placeholder="BRIEF DESCRIPTION" ng-minlength="20" ng-maxlength="2000" required>
								<div class="help-block" ng-messages="editLessonForm.lessonEDes1.$error" data-ng-show="editLessonFormSubmitted">
									<p ng-message="required">Description is required</p>
									<p data-ng-show="createFormSubmitted" ng-message="minlength">Description too short - minimum length is 20 characters</p>
									<p ng-message="maxlength">Description is too long.</p>

								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': editLessonFormSubmitted && editLessonForm.lessonEDes2.$invalid }">
								<textarea capitalize-first type="text" ng-model="lesson1.detail_description" name="lessonEDes2" id="lessonEDes2" tabindex="3" class="form-control" placeholder="DETAILED DESCRIPTION" ng-minlength="20" ng-maxlength="2000" required></textarea>
								<div class="help-block" ng-messages="editLessonForm.lessonEDes2.$error" data-ng-show="editLessonFormSubmitted">
									<p ng-message="required">Description is required</p>
									<p data-ng-show="createFormSubmitted" ng-message="minlength">Description too short - minimum length is 20 characters</p>
									<p ng-message="maxlength">Description is too long.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': editLessonFormSubmitted && editLessonForm.lessonEActivity.$invalid }">
								<input capitalize-first type="text" ng-model="lesson1.activity" name="lessonEActivity" id="lessonEActivity" tabindex="4" class="form-control" placeholder="ACTIVITY" value="" required>
								<div class="help-block" ng-messages="editLessonForm.lessonEActivity.$error" data-ng-show="editLessonFormSubmitted">
									<p ng-message="required">Activity is required</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': editLessonFormSubmitted && editLessonForm.EKeytakeaways.$invalid }">
								<input capitalize-first type="text" ng-model="lesson1.Keytakeaways" name="EKeytakeaways" id="EKeytakeaways" tabindex="5" class="form-control" placeholder="KEY TAKEAWAYS" required>
								<div class="help-block" ng-messages="editLessonForm.EKeytakeaways.$error" data-ng-show="editLessonFormSubmitted">
									<p ng-message="required">Keytakeaway is required</p>
								</div>
							</div>
							<div class="learn-lesson clearfix">
								<a href=""><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><span class="lession-text">ADD ACTIONS</span></a>
							</div>
							<div data-ng-show="lessonEditMsg" class="col-sm-12 ng-scope" ng-class="msgClass">
								<span class="ng-binding" data-ng-bind="sucessMsg"></span>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<input type="submit" name="register-submit" id="register-submit" tabindex="6" class="form-control btn btn-register" value="SUBMIT">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<a data-ng-click="closeModal()" class="myspace-close"><img src="assets/img/imgpsh_fullsize.png"></a>
	</div>
</div>
