	<!-- side content starts -->
			<div class="col-md-3 col-sm-12 col-xs-12 paddinig0">
				<div class="side-content-wrapper">
					<div class="panel-group Module-list text-uppercase">
					   <div data-ng-click="moduleExpand(1)" class="panel panel-default">
						<div class="panel-heading" ui-sref-active="active">      
							<a ui-sref="manage-module">MODULE & LESSON ADMIN</a>      
						</div>
					
					  </div>
					  <div class="panel panel-default" data-ng-click="moduleExpand(2)">
						<div class="panel-heading" ui-sref-active="active">      
							<a ui-sref="manage-user">USER ADMIN</a>      
						</div>
					
					  </div>
					   <div class="panel panel-default">
						<div class="panel-heading" ui-sref-active="active" >      
							<a ui-sref="profile">MY PROFILE</a>      
						</div>
					
					  </div>
					</div>					
				</div>
			</div>
		<!-- side content ends -->