<div class="tab-content" data-ng-show="modulesView">
	<div class="tab-pane active" id="1">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2>{{showModule.name}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="video-bg clearfix">
						<div class="col-md-2 col-sm-12 col-xs-12">&nbsp;</div>
						<div class="col-md-8 col-sm-12 col-xs-12">
							<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/RqcqKDwIa8U" frameborder="0" allowfullscreen></iframe>-->
							<youtube-video video-id="'RqcqKDwIa8U'" player="modulePlayer"></youtube-video>
						</div>
						<div class="col-md-2 col-sm-12 col-xs-12">&nbsp;</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="module-description clearfix text-center">
					<h3><strong>Module Description</strong></h3>
					<p>{{showModule.description}}</p>
				</div>
				<div class="row clearfix" data-ng-show="hasLessons">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="value-action">
							<div class="row clearfix lesson-row" ng-repeat="lesson in lessons">
								<div class="col-md-10 col-sm-10 col-xs-10">
									<h3>{{lesson.name}}</h3>
									<p>{{lesson.basic_description}}</p>
									<p>{{lesson.detailed_description}}</p>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2">
									<span class="orange-button pull-right">
		 									<input data-event-category="lesson click" data-event-action={{lesson.name}} type="submit" class="orange btn btn-default" value="Next" data-ng-click="onNext($index, lesson._id, lesson)">
		 					</span>
								</div>

							</div>
						</div>

					</div>
				</div>
				<div class="clearfix no-lessons" data-ng-hide="hasLessons">
					No lessons for this module.
				</div>
			</div>


		</div>

	</div>
</div>
