<div class="header">
	<div class="header-wrapper">
		<div class="container">
			<div class="row logo-section">

				<div class="col-md-6 col-sm-6 col-xs-6 logo header-txt">
					<a data-ng-click="logoClick()">
						<img alt="" src="assets/img/newlogo.png" />
					</a>
				</div>
				<div class="myAccount col-md-6 col-sm-6 col-xs-6 logo-right-sec pull-right">
					<div class="dropdown">
						<a data-ng-show="isLoggedIn || isAdminLoggedIn" class="user-info dropdown-toggle" data-toggle="dropdown">
							<span data-ng-bind="userName"></span>
							<div class="user-image" data-ng-if="avatar_url !== '' && avatar_url !== null" >
								<img src="{{avatar_url}}"/>
							</div>
							<div class="user-image" data-ng-if="avatar_url === '' || avatar_url === null" >
								<img src="assets/img/icons/profile-pic.png"/>
							</div>
						</a>

						<a data-ng-hide="isLoggedIn || isAdminLoggedIn" class="user-info dropdown-toggle" data-ng-click="showRegisterForm()">
							<span>Login or Register</span>


									    </a>

						<ul class="dropdown-menu">

							<li>
								<a ui-sref="profile" ui-sref-opts="{reload: true}"><span aria-hidden="true"><img src="assets/img/tick-icon.jpg"/></span>MY PROFILE</a>
							</li>
							<li data-ng-show="isLoggedIn">
								<a ui-sref="favourites" ui-sref-opts="{reload: true}"><span aria-hidden="true"><img src="assets/img/tick-icon.jpg"/></span>MY FAVOURITES</a>
							</li>
							<li data-ng-show="isAdminLoggedIn">
								<a ui-sref="manage-user" ui-sref-opts="{reload: true}"><span aria-hidden="true" ><img src="assets/img/user-Icon.png"/></span>MANAGE USERS</a>
							</li>
							<li data-ng-show="isAdminLoggedIn">
								<a ui-sref="manage-module" ui-sref-opts="{reload: true}"><span aria-hidden="true" ><img src="assets/img/lesson-icon.jpg"/></span>MANAGE MODULES & LESSONS</a>
							</li>
							<li class="last">
								<a data-ng-click="logout()"><span aria-hidden="true" ><img src="assets/img/cut-icon.jpg"/></span>SIGN OUT</a>
							</li>
						</ul>
					</div>

					<div class="notification-alert" data-ng-show="isLoggedIn">
						<div class="dropdown" data-ng-hide="isAdminLoggedIn">
							<a data-ng-click="getAllNotificationShow();seenAllMessage()" role="button" data-toggle="dropdown" id="testing-dropdown">
								<i class="glyphicon glyphicon-bell"></i>
								<span class="badge badge-notify" data-ng-if="getTotalNotification > 0" data-ng-bind="getTotalNotification"></span>
							</a>
							<ul class="dropdown-menu notifications" ng-class="{'no-noti': !allTotal}" role="menu" aria-labelledby="dLabel" id="header-noti" ng-click="stopEvent($event)">
								<li data-ng-show="notificationloader">
									<img src="assets/img/ajax-loader.gif" />
								</li>
								<li data-ng-hide="allTotal || notificationloader" class="no-result">
									<div class="empty-notification">No notification found</div>
								</li>
								<div id="list-wrapper"  ng-click="stopEvent($event)">
									<div>
										<li data-ng-show="allTotal" data-ng-show="getNotificationShow" data-ng-repeat=" notificationList in showAllNotificationList" ng-click="stopEvent($event)">
											<div class="notifications-wrapper" data-ng-click="(notificationList.type=='like' || notificationList.type=='share') ? viewLikeActivity($index, notificationList.activity._id,notificationList._id) : viewGroup($index,notificationList,notificationList._id)" id="activity-noti-{{$index}}">
												<div class="content" ng-class="(notificationList.status === 'seen') ? 'read-noti' : 'unread-noti'" data-ng-if="notificationList.from._id !== APP.currentUser._id">
													<div class="notification-item clearfix">
														<div class="member-col-left clearfix">
															<span>
															 		<strong data-ng-bind="notificationList.from.local.name | capitalize"></strong>
															 		<span data-ng-if="notificationList.type == 'like'"> LIKE YOUR ACTIVITY ITEM</span>
																	<span data-ng-if="notificationList.type == 'share'"> SHARE YOUR ACTIVITY ITEM</span>
																	<span data-ng-if="notificationList.type == 'requested'"> REQUESTED YOU TO JOIN GROUP {{notificationList.group.name}}</span>
																	<span data-ng-if="notificationList.type == 'request'"> REQUESTED YOU TO JOIN GROUP {{notificationList.group.name}}</span>
																	<span data-ng-if="notificationList.type == 'accepted'"> ACCEPTED REQUEST TO JOIN GROUP {{notificationList.group.name}}</span>
																	<span data-ng-if="notificationList.type == 'rejected'"> REJECTED REQUEST TO JOIN GROUP {{notificationList.group.name}}</span>
															</span>
															<span data-ng-if="notificationList.activity && notificationList.activity !== null" data-ng-bind="notificationList.activity.description.substr(0,20) + '....'"></span>
														</div>
														<div class="member-col-right" data-ng-if="notificationList.type == 'requested' || notificationList.type == 'request'">
															<a data-ng-click="acceptNotification($index, notificationList.group._id, notificationList.from._id, notificationList._id);$event.stopPropagation();">
																<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
															</a>
															<a data-ng-click="removeNotification($index, notificationList.group._id, notificationList.from._id, notificationList._id);$event.stopPropagation();">
																<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</li>
										<div class="text-center" data-ng-click="loadMoreNoti($event)">
											<a data-ng-show="showSeeMore">More</a>
										</div>
									</div>
								</div>
							</ul>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- logo Wrapper -->

<!-- myAccount box -->
<!-- <div class="myAccount col-sm-3 col-sm-push-6 col-xs-6">
			<div class="dropdown pull-right">
				<a data-ng-hide="isLoggedIn" class="user-info dropdown-toggle" data-ng-click="showRegisterForm()">
				       Sign Up
				    <img src="assets/img/profile-icon.png" class="user-image" alt="User Image">
				    </a>
				<a data-ng-show="isLoggedIn" class="user-info dropdown-toggle" data-toggle="dropdown">
				      Mark Mansfield
				          <img src="assets/img/profile-icon.png" class="user-image" alt="User Image">
				    </a>
				<ul class="dropdown-menu">
					<li data-ng-hide="isAdminLoggedIn">
						<a ui-sref="manage-module" ui-sref-opts="{reload: true}"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span>{{isAdminLoggedIn}}MY ACTIONS</a>
					</li>
					<li>
						<a ui-sref="profile" ui-sref-opts="{reload: true}"><span aria-hidden="true" class="glyphicon glyphicon-user"></span>MY PROFILE</a>
					</li>
					<li data-ng-show="isAdminLoggedIn">
						<a ui-sref="manage-user" ui-sref-opts="{reload: true}"><span aria-hidden="true" class="glyphicon glyphicon-user"></span>MANAGE USERS</a>
					</li>
					<li data-ng-show="isAdminLoggedIn">
						<a ui-sref="manage-module" ui-sref-opts="{reload: true}"><span aria-hidden="true" class="glyphicon glyphicon-user"></span>MANAGE MODULES & LESSONS</a>
					</li>
					<li class="last">
						<a data-ng-click="logout()"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span>SIGN OUT</a>
					</li>
				</ul>
			</div>
		</div> -->
<!-- myAccount box -->

<!-- Header text -->
<!-- <div class="header-txt"<h1>

				<img alt="" src="assets/img/newlogo.png" ui-sref="home"/>


		</div> -->
<!-- Header text -->
<!-- </div>
</div> -->
<!-- Records block starts -->
<div class="">
	<div class="records-wrapper clearfix">
		<!-- <ul class="records-list">
			<li class="accounts-record">
				<div><span></span></div>
				<div data-ng-bind="statistics.totalAccounts"></div>
				<div> ACCOUNTS</div>
			</li>
			<li class="activity-record">
				<div><span></span></div>
				<div data-ng-bind="statistics.totalActivities"></div>
				<div> ACTIVTY ITEMS</div>
			</li>
			<li class="lessons-record">
				<div><span></span></div>
				<div data-ng-bind="statistics.totalCompletedLessons"></div>
				<div> COMPLETED LESSONS</div>
			</li>
			<li class="pull-right back-btn" data-ng-show="backToLessons">
				<button data-ng-hide="isAdminLoggedIn" ui-sref="home">BACK TO LESSONS</button>
			</li>
		</ul> -->

	</div>
</div>
<!-- Records block ends -->

<!-- Header ends
