<div class="container">
	<!-- Main container -->
	<div class="row">
		<div class="main-wrapper">
			<admin-menu></admin-menu>
			<!-- Right masonary content -->
			<div class="col-md-9 col-sm-12 col-xs-12 paddinig0">
				<div class="row mainbox-right">

					<!-- masonary title -->
					<div class="col-sm-12 col-xs-12 col-md-6 masonary-title-box text-uppercase">
						<div class="masonary-title sort-parent">
							<h2>MODULE ADMIN </h2>
							<p>VIEW MODULE SETTINGS BELOW
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-click="sortMyModules()" data-ng-class="{ 'active': sortModules }">SORT MODULES</a></p>
							</p>
						</div>
					</div>
					<div class="col-sm-12 col-xs-12 col-md-6 masonary-title-box">
						<div class="row">
							<div class="col-sm-6 col-xs-12 col-md-5">
								<form class="search-form" ng-submit="searchModule()">
									<div class="form-group has-feedback">
										<label class="sr-only" for="search">Search</label>
										<span class="glyphicon glyphicon-search form-control-feedback"></span>
										<input ng-change="searchModule()" type="text" placeholder="Search Module" id="search" name="search" class="form-control" ng-model="search">
									</div>
								</form>
							</div>
							<div data-ng-click="createModule()" class="col-sm-6 col-xs-12 col-md-7 plus-search">
								<form>
									<span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
									<input type="button" value="CREATE MODULE" class="form-control btn btn-register" tabindex="" id="register-submit-lessonView" name="register-submit-lessonView">
								</form>
							</div>
						</div>
					</div>

				</div>
				<!--Masonary Grid  -->
				<div class="row mainbox-right">
					<div class="masoranyGridBox manage-module-admin" id="masoranyGridBox">
						<div id="" class="clearfix">
							<!-- gridItem starts -->
							<div class="girdItem-outer col-md-3" data-ng-repeat="moduleList in showAllModuleList | orderBy: 'moduleList.created_at':true" data-ng-show="getModuleShow">
								<div class="creat-heading clearfix">
									<ul class="admin-col">
										<li>
											<div class="member-col-left">
												<!--<span class="module-name" data-ng-bind="moduleList.name"></span>-->
												<span class="module-name" data-ng-if="moduleList.name.length > 20" data-ng-bind="moduleList.name.substr(0, 20) + '...'"> </span>
												<span class="module-name" data-ng-if="moduleList.name.length == 20 || moduleList.name.length < 20" data-ng-bind="moduleList.name"> </span>
											</div>
											<div class="member-col-right">
												<div class="editOption">
													<a data-ng-click="editModule(moduleList._id,$index)">
														<span class="text">EDIT</span>
														<span class="glyphicon glyphicon-pencil"></span>
													</a>
													<a data-ng-click="deleteModule($index , moduleList._id)">
														<span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span>
													</a>
												</div>

											</div>
										</li>

									</ul>

								</div>
								<div class="girdItem admin-account">

									<div style="height:40px;" class="main-article" data-ng-if="moduleList.description.length > 50" data-ng-bind="moduleList.description.substr(0, 50) + '...'"> </div>
									<div style="height:40px;" class="main-artcle" data-ng-if="moduleList.description.length == 50 || moduleList.description.length < 50" data-ng-bind="moduleList.description"> </div>
									<!--<div style="height:40px;" class="main-artcle" data-nd-if="moduleList.description.length > 60" data-ng-bind="moduleList.description.substr(0, 70) + '...'">

									</div>-->

								</div>
								<div data-ng-hide="isshowLesson[$index]" class="learn-lesson clearfix add-account">
									<a data-ng-click="showLesson($index ,moduleList._id)"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span><span class="lession-text">SHOW LESSONS</span></a>
								</div>
								<div data-ng-show="loader[$index]">
									<img src="assets/img/ajax-loader.gif" />
								</div>
								<div data-ng-show="isnoLesson[$index]" class="help-block">
									No lesson found
								</div>
								<div class="lesson-overlap" data-ng-show="isshowLesson[$index]">
									<div class="creat-heading clearfix">
										<ul class="admin-col">
											<li data-ng-repeat="lessonDetail in lesson[$index]">
												<div class="member-col-left">
													<span>LESSON{{$index + 1}}    "
						 		           <span data-ng-bind="lessonDetail.name"></span> "
												</div>
												<div class="member-col-right">
													<div class="editOption">
														<a>
															<span class="glyphicon glyphicon-pencil" data-ng-click="editLesson(lessonDetail, $index)"></span>
														</a>
														<a href=""><span aria-hidden="true" class="glyphicon glyphicon-remove-sign"  data-ng-click="deleteLesson(lessonDetail, $index, $parent.$index)"></span>
								 		      </a>
														<a href=""><span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span></a>
													</div>

												</div>
											</li>
										</ul>
									</div>
									<div class="learn-lesson clearfix add-account">
										<a data-ng-click="hideLesson($index)">
											<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
											<span class="lession-text">HIDE LESSONS</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-ng-show="moduleLoader">
						<img src="assets/img/ajax-loader.gif" />
					</div>
				</div>
				<!--Masonary Grid  -->
			</div>
		</div>
	</div>
	<!-- Main container -->
</div>
