<script>
</script>
<div class="row myspace-pop">
	<div class="col-xs-12 col-md-12 col-sm-12">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12">
				<div class="row space-small-box">

					<div class="col-xs-12 col-md-6 col-sm-12 back-left-panel" data-ng-hide="activityLoader">

						<center>
							<img data-ng-if="viewDetailActivity.url !== '' && viewDetailActivity.type!=='video'" alt="Mind MAX" src="{{viewDetailActivity.url}}">
						</center>
						<center>
							<img data-ng-if="viewDetailActivity.url == ''" alt="Mind MAX" src="assets/img/icons/video-lag.png">
						</center>
						<center>
							<div data-ng-if="viewDetailActivity.type=='video'" class="pop-up-youtube">
								<youtube-video video-id="viewDetailActivity.url"></youtube-video>
							</div>
						</center>
						<div>
							<ul class="pop-up-caption">
								<li data-ng-repeat="tag in viewDetailActivity.tags track by $index">#{{tag}}</li>
							</ul>
						</div>
					</div>
					<div id="getHeight" class="col-xs-12 col-md-6 col-sm-12" data-ng-hide="activityLoader">
						<div class="profile-detail clearfix">
							<div class="profile-detail-inner">
								<div class="inputArea">
									<span class="comment-image">
											<img data-ng-if="viewDetailActivity.user.local.avatar_url == '' || viewDetailActivity.user.local.avatar_url == null || viewDetailActivity.user.local.avatar_url === undefined" src="assets/img/icons/profile-pic.png">
											<img data-ng-if="viewDetailActivity.user.local.avatar_url !== '' && viewDetailActivity.user.local.avatar_url !== null" src="{{viewDetailActivity.user.local.avatar_url}}">

										</span></div>
								<div class="labeName" data-ng-bind="viewDetailActivity.user.local.name"></div>
							</div>

							<!--<div class="edit-description" >
								<p data-ng-hide="editDescription" data-ng-bind="viewDetailActivity.description"></p>
								<a data-ng-hide="editDescription" data-ng-click="editDetail()"><i class="fa fa-pencil-square-o"></i></a>
							</div>-->
							<div class="show">
								<ul class="like-section clearfix" data-ng-show="isAdminLoggedIn || isLoggedIn">
									<li>
										<a data-event-category="activity like" data-event-action={{viewDetailActivity._id}} data-ng-hide="showLike" data-ng-click="likeActivity(viewDetailActivity._id, viewDetailActivity.user._id, likedPeople)">Like</a>
										<a data-event-category="activity unlike" data-event-action={{viewDetailActivity._id}} data-ng-click="unlikeActivity(viewDetailActivity._id, viewDetailActivity.user._id,likedPeople)" ng-show="showLike">Unlike</a>
									</li>
									<!--<li>Comment</li>-->
								</ul>

								<ul class="pepleLiked">
									<li data-ng-click="openModal(viewDetailActivity._id)" data-ng-show="likedPeople"><a><i class="fa fa-thumbs-up"></i> {{likedPeople}} people</a></li>
								</ul>
								<div data-ng-show="isAdminLoggedIn || isLoggedIn">
									<div>
										<ul>
											<li data-ng-hide="followState === 'hide'">
												<a>
													<input type="button" class="btn btn-default follow-button" data-ng-click="follow()" value="{{followText}}" data-ng-disabled="followState === 'disable'" />
												</a>
												&nbsp;&nbsp;&nbsp;
											</li>
										</ul>
									</div>
									<ul id="social-networking">

										<li data-ng-if="viewDetailActivity.url !== ''" class="facebook">
											<a data-event-category="facebook share" data-event-action={{viewDetailActivity._id}} class="facebookShare fa fa-facebook" facebook-feed-share data-url='http://54.209.13.164:5400/home/{{viewDetailActivity._id}}' data-caption='MIND MAX' data-picture='https://mindmaxdaffo.s3-ap-northeast-1.amazonaws.com/video-lag.png1460631387'
															data-description="{{viewDetailActivity.description}}" data-callback='callback'><i class="fa fa-facebook" aria-hidden="true"></i></a>
										</li>
										<li data-ng-if="viewDetailActivity.url == ''" class="facebook">
											<a data-event-category="facebook share" data-event-action={{viewDetailActivity._id}} class="facebookShare fa fa-facebook" facebook-feed-share data-url='http://54.209.13.164:5400/home/{{viewDetailActivity._id}}' data-caption='MIND MAX' data-picture='https://mindmaxdaffo.s3-ap-northeast-1.amazonaws.com/video-lag.png1460631387'
															data-description="{{viewDetailActivity.description}}" data-callback='callback'><i class="fa fa-facebook" aria-hidden="true"></i></a>
										</li>
										<li class="twitter">
											<a data-event-category="twitter share" data-event-action={{viewDetailActivity._id}} class="fa fa-twitter" twitter data-text="MIND MAX" data-url='http://54.209.13.164:5400/home/{{viewDetailActivity._id}}
										 ' data-size="medium" data-text='{{viewDetailActivity.description}}'></a>
										</li>
									</ul>
								</div>
								<!--<div>-->
								<a data-ng-bind="viewDetailActivity.module.name" data-ng-click="goToModuleViewSharedActivity($event, viewDetailActivity.module)"></a> -
								<label data-ng-bind="viewDetailActivity.lesson.name"></label>
								<br>
								<form data-ng-show="editDescription" name="activityEditForm" data-ng-submit="saveDetail(activityForm.$valid ,viewDetailActivity._id)" novalidate>
									<div class="form-group" ng-class="{ 'has-error': activityFormEditSubmitted && activityEditForm.description.$invalid }">
										<textarea minlength="20" class="form-control" class="editpostbox" data-ng-model="editDescriptionValue" required id="description" name="description">
										</textarea>
										<div class="help-block" ng-messages="activityEditForm.description.$error" data-ng-show="activityFormEditSubmitted">
											<p ng-message="minlength">Description too short - minimum length is 20 characters</p>
											<p ng-message="required">Description is required</p>
										</div>
									</div>
									<ul class="right-activity" data-ng-show="editDescription">
										<li>
											<input class="save-activity" type="submit" value="Save" />
											<input data-ng-click="cancel(viewDetailActivity._id)" class="save-activity" type="button" value="Cancel" />
											<!-- <a class="save-activity" data-ng-click="cancel(viewDetailActivity._id)">cancel</a> -->
										</li>
									</ul>
								</form>

								<div class="edit-activity-des">
									<p data-ng-bind="viewDetailActivity.description"></p>

									<a data-ng-show="showEdit" data-ng-click="editDetail()"><i data-ng-hide="editDescription" class="fa fa-pencil-square-o"></i></a>

								</div>
								<!--</div>-->
								<div class="open-comment" ng-if="viewDetailActivity._id">
									<comments-form activity-id="{{viewDetailActivity._id}}"></comments-form>
								</div>

							</div>
						</div>
					</div>
					<div class="row wait-load" data-ng-show="activityLoader">
						<div class="col-md-12">
							<center>
								<img src="assets/img/ajax-loader.gif" />
							</center>
						</div>
					</div>
					<a class="myspace-close" data-ng-click="closeModal()"><img src="assets/img/imgpsh_fullsize.png"></a>
					<div data-ng-show="currentIndex+1<activityList.length">
						<input type="button" class="btn btn-default forward-button" data-ng-click="nextActivity()" value=">" data-ng-disabled="followState === 'disable'" />
					</div>
					<div data-ng-show="currentIndex>0">
						<input type="button" class="btn btn-default backward-button" data-ng-click="prevActivity()" value="<" data-ng-disabled="followState === 'disable'" />
					</div>
				</div>
			</div>
		</div>
	</div>
