<!-- masonary title -->
<div class="masonary-title-box text-uppercase">
	<div class="masonary-title community-title">
		<!--<h2>My Community Space</h2>-->
		<p data-ng-hide="mycommListShow">SEE WHAT IS TRENDING IN YOUR COMMUNITY!</p>
	</div>
	<div class="result-numbers pull-right">
		<!-- <p>Showing 9/274 <span></span></p> -->
	</div>
</div>
<!-- masonary title -->
<!--Masonary Grid  -->


<div class="masoranyGridBox" id="list-wrapper1">
	<div id="masoranyGrid" class="clearfix" infinite-scroll="loadMoreCommunity()" infinite-scroll-immediate-check="false">
		<!-- gridItem starts -->

		<!--<div data-ng-hide="commloader" class="girdItem heightOne activity-list" data-ng-repeat="communityList in activityList" data-ng-click="viewActivity(communityList._id)" data-event-category="activity click" data-event-action={{communityList._id}}>-->
		<div class="girdItem heightOne activity-list" data-ng-repeat="communityList in activityList" data-ng-click="viewActivity($index, communityList._id,communityList.url)" data-event-category="activity click" data-event-action={{communityList._id}}>
			<div class="round-close" data-ng-show="isAdminLoggedIn">
				<span class="glyphicon glyphicon-remove-circle" aria-hidden="true" data-ng-click="confirmModal(communityList._id,communityList.url, $event, $index)"></span>
			</div>

			<div class="video-box" data-ng-if="communityList.type=='image'">
				<span data-ng-if="communityList.url !== ''" ng-style="{'background-image':'url({{communityList.url}})'}"></span>
				<span data-ng-if="communityList.url == ''" ng-style="{'background-image':'url(assets/img/icons/video-lag.png)'}"></span>
			</div>
			<div class="video-box" data-ng-if="communityList.type=='video'">
				<div class="you-tube-box"><youtube-video video-id="communityList.url"></youtube-video></div>
			</div>


			<div class="clearfix title-likes">
				<h5 class="heading-article">
					<!--<span class="imageOuter">-->
						<div class="user-sec">
							<!--<a href="">-->
							<div class="user-image">
								<!--<img data-ng-if="activity.user.local.avatar_url!=null:'url({{activity.user.local.avatar_url}})'" class="user-image" alt="User Image">-->
								<span data-ng-if="communityList.user.local.avatar_url !== '' && communityList.user.local.avatar_url !== null" ng-style="{'background-image':'url({{communityList.user.local.avatar_url}})'}"></span>
								<span data-ng-if="communityList.user.local.avatar_url == '' || communityList.user.local.avatar_url == null" ng-style="{'background-image':'url(assets/img/icons/profile-pic.png)'}"></span>
							</div>
								<!--<img ng-src="{{activity.user.local.avatar_url}}"  class="user-image">-->
							<!--</a>-->
						</div>
					<!--</span>-->
					<span data-ng-if="communityList.user.local.name.length > 8" data-ng-bind="communityList.user.local.name.substr(0,8) + '..'"> </span>
					<span data-ng-if="communityList.user.local.name.length == 8 || communityList.user.local.name.length < 8" data-ng-bind="communityList.user.local.name"> </span>

				</h5>
				<ul class="webActions clear-fix">
					<li><a href="" class="like-small"><span >{{communityList.likes.length}}</span>&nbsp;<span>Likes</span> </a></li>

					<li><a href="" class="bookmark-small"><span >{{createdAt[$index].numberDate}}</span>&nbsp;<span>{{createdAt[$index].numberSpan}}</span>&nbsp;<span>ago</span></a></li>
					<!-- <li class="you-tube">
						<a class="bookmark-small pull-right">
							<i class="fa fa-youtube"></i>
						</a>
					</li> -->
				</ul>
			</div>
			<div class="main-artcle clearfix">
				<!--<a href="" data-ng-bind="communityList.module.name"></a>-->
				<a data-ng-if="communityList.module.name.length > 15" data-ng-bind="communityList.module.name.substr(0,15) + '...'" data-ng-click="goToModule($event, communityList.module)"> </a>
				<a data-ng-if="communityList.module.name.length == 15 || communityList.module.name.length < 15" data-ng-bind="communityList.module.name" data-ng-click="goToModule($event,communityList.module)"> </a>
				<ul>
					<li class="Afb">
						<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
					</li>
					<li class="Atw">
						<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
					</li>
				</ul>
				<!-- <a confirm-click data-ng-click="confirmClick(); $event.stopPropagation();">delete</a> -->
			</div>
		</div>
		<span data-ng-show="mycommListShow && !(commloader || commloader1)" class="no-lessons"> There is no activity</span>
		<img data-ng-show="commloader1 || commloader" src="assets/img/ajax-loader.gif" /> </div>
</div>
<!--Masonary Grid  -->
