<div class="row register-popup heading-orange">
    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-xs-12 tab-reg">
                        <a href="#" class="active" id="login-form-link">AVATAR</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row avatar-small-box">
                            <div class="col-sm-4" id="browse">
                                <div class="custom-img">
                                    <a href=""><img src="assets/img/video-img.jpg" data-ng-click="selectImage($event)"></a>
                                </div>
                            </div>
                            <div class="col-sm-4" id="browse">
                                <div class="custom-img">
                                    <a href=""><img src="assets/img/videoBox.jpeg" data-ng-click="selectImage($event)"></a>
                                </div>
                            </div>
                            <div class="col-sm-4" id="browse">
                                <div class="custom-img">
                                    <a href=""><img src="assets/img/4.jpg" data-ng-click="selectImage($event)"></a>
                                </div>
                            </div>
                            <div class="col-sm-4" id="browse">
                                <div class="custom-img">
                                    <a href=""><img src="assets/img/header-bg.jpg" data-ng-click="selectImage($event)"></a>
                                </div>
                            </div>
                            <div class="col-sm-4" id="browse">
                                <div class="custom-img">
                                    <a href=""><img src="assets/img/5.jpg" data-ng-click="selectImage($event)"></a>
                                </div>
                            </div>
                            <div class="col-sm-4" id="browse">
                                <div class="custom-img">
                                    <a href=""><img src="assets/img/1.jpeg" data-ng-click="selectImage($event)"></a>
                                </div>
                            </div>
                            <div class="col-sm-4" id="browse">
                                <div class="custom-img">
                                    <a href=""><img src="assets/img/2.jpg" data-ng-click="selectImage($event)"></a>
                                </div>
                            </div>
                            <div class="col-sm-4" id="browse">
                                <div class="custom-img">
                                    <a href=""><img src="assets/img/3.jpeg" data-ng-click="selectImage($event)"></a>
                                </div>
                            </div>
                            <div class="col-sm-4" id="browse">
                                <div class="custom-img">
                                    <a href=""><img src="assets/img/4.jpg" data-ng-click="selectImage($event)" data-ng-click="selectImage($event)"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="avatar-img">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="SUBMIT">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="createclose" data-ng-click="closeModal()"><img src="assets/img/imgpsh_fullsize.png"></a>
</div>
