<div class="container-fluid">
	<!-- Main container -->
	<div class="row">
		<div class="main-wrapper">
		<!-- Right masonary content -->
			<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="container">
					<div class="row">
					<div class="col-md-3 col-xs-12 col-sm-12">&nbsp;</div>
					<div class="text-center col-md-6 col-xs-12 col-sm-12">
					<!-- masonary title -->
						<div class="masonary-title-box text-uppercase">
							<div class="masonary-title">
								<h2>Reset Password</h2>
								<p>Use the form below to change your password.</p>
							</div>
						</div>
						<div class="row">
								<div class="reset-form-inner col-sm-12 col-md-12 col-xs-12">
									<p class="text-center"></p>
									<form ng-show="showResetForm" name="resetForm" onkeypress="return event.keyCode != 13;" data-ng-submit="submitResetPassword(resetForm.$valid)" novalidate>
										<div class="form-group"  ng-class="{ 'has-error': submittedResetForm && resetForm.password.$invalid }">
											<input type="password" class="input-lg form-control" name="password" id="password1" placeholder="New Password" ng-model="password.newpass" autocomplete="off" ng-minlength="6" ng-maxlength="100" required>
											<div class="help-block" ng-messages="resetForm.password.$error" data-ng-show="submittedResetForm">
												<p data-ng-show="submittedResetForm" ng-message="minlength">Password too short - minimum length is 6 characters</p>
												<p ng-message="maxlength">Password is too long.</p>
												<p ng-message="required">Password is required.</p>
											</div>
										</div>
										<div class="form-group"  ng-class="{ 'has-error': submittedResetForm && resetForm.passwordCon.$invalid }">
											<input type="password" class="input-lg form-control" name="passwordCon" id="password2" placeholder="Confirm Password" ng-model="password.conpass" autocomplete="off" ng-minlength="6" ng-maxlength="100" required>
											<div class="help-block" ng-messages="resetForm.passwordCon.$error" data-ng-show="submittedResetForm">
												<p data-ng-show="submittedResetForm" ng-message="minlength"> Confirm password too short - minimum length is 6 characters</p>
												<p ng-message="maxlength">Confirm Password is too long.</p>
												<p ng-message="required">Confirm Password is required.</p>
											</div>
										</div>
										<div class="row">
											<div data-ng-show="resetLoader" class="col-sm-6 col-sm-offset-5">
											<img  src="assets/img/ajax-loader.gif"/>
											</div>
											<div data-ng-if="resetError!== ''" class="col-sm-12 text-center" ng-class="msgClass">
												<span data-ng-bind="resetError"><span/>
											</div>
										</div>
										<input type="submit" class="col-xs-12 form-control btn btn-login" value="Change Password">
									</form>
									<div ng-hide="showResetForm" data-ng-if="resetError!== ''" class="col-sm-12 text-center" ng-class="msgClass">
										<span data-ng-bind="resetError"><span/>
									</div>
								</div><!--/col-sm-6-->
							</div><!--/row-->
					</div>
					<div class="col-md-3 col-xs-12 col-sm-12">&nbsp;</div>
					</div>
				</div>
			</div>
		<!-- Right masonary content -->
	</div>    	
</div>
<!-- Main container -->
</div>

<!-- container fluis ends -->
