<div class="row register-popup vertical-align-center">
    <div class="progress-wrapper">
        <div round-progress max="max" current="current" color="#f89938" bgcolor="#eaeaea" radius="100" stroke="20" semi="false" rounded="true" clockwise="false" responsive="false" duration="800" animation="easeInOutQuart" animation-delay="0"></div>
         <div class="text">{{percent}}%</div>
    </div>
    <!-- <a data-ng-click="closeModal()"><img src="assets/img/imgpsh_fullsize.png"></a> -->
    <span class="congratulations">CONGRATULATIONS, YOU HAVE COMPLETED {{percent}}% OF THE "{{module.name | uppercase}}" SECTION</span>
    <span class="orange-button pull-right">
            <input type="submit" class="orange btn btn-default" value="Next" data-ng-click="onProgressNext()">
    </span>
</div>
