<div class="row register-popup heading-orange">
	<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
		<div class="panel panel-login">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-12 col-md-12 col-xs-12 tab-reg">
						<a href="#" class="active">CREATE GROUP</a>
					</div>
				</div>
			</div>
			<div class="panel-body creted">
				<div class="row">
					<div class="col-md-12">
						<form id="register-form" name="createG"  data-ng-submit="createGroup(createG.$valid)" novalidate>
							<div class="creat-heading clearfix">
								<h6 class="group-header">GROUP AVATAR</h6>
								<li data-ng-if="noFile !=''" class="err-msg">
									<span data-ng-bind="noFile"></span>
								</li>

								<div data-ng-show="uploadLoader" class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="percentageStyle">
										<span class="sr-only">Complete</span>
									</div>
								</div>

								<div class="grp-plus-outer">
									<div class="user-pics">
										<!-- <div data-ng-if="location != null || location != ''"> -->
											<!--<img data-ng-hide="groupImage" ng-src="assets/img/icons/profile-pic.png" alt="Profile Pic" />-->
											<!-- <img class="img-user" data-ng-show="groupImage" ng-src="{{location}}" />
										</div> -->
										<li class="closepreview" data-ng-if="location">
											<img class="img-user" class="pic-preview" ng-src="{{location}}">
											<a data-ng-click="hidePreview()" class="myspace-close"><img src="assets/img/imgpsh_fullsize.png"></a>
										</li>
									</div>
									<label data-ng-show="chooseFile" class="user-admin-image edit-upload ng-scope">
										<input type="file" file-model="fileModel" id="fileUploaded" onchange="angular.element(this).scope().upload(this)">CHOOSE FILE
									</label>
									<div class="group-plus">
										<a ng-show="showPlus" href=""><span aria-hidden="true" class="glyphicon glyphicon-plus-sign" ng-click="editAvatar()"></span></a>
										<a ng-show="showPlus" href=""><span aria-hidden="true" class="glyphicon glyphicon-pencil create-grp-pencil"  ng-click="editAvatar()"></span></a>
									</div>
								</div>
							</div>
							<div class="form-group" ng-class="{'has-error': createFormSubmitted && createG.gname.$invalid }">
								<input capitalize-first type="text" ng-model="group.name" name="gname" tabindex="1" class="form-control" placeholder="GROUP NAME" value="" ng-minlength="5" ng-maxlength="1000" required>
								<div class="help-block" ng-messages="createG.gname.$error" data-ng-show="createFormSubmitted">
									<p ng-message="required">Group name is required</p>
									<p ng-message="minlength">Group name is too short - minimum length is 5 characters</p>
									<p ng-message="maxlength">Group name is too long.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{'has-error': createFormSubmitted && createG.gdescription.$invalid }">
								<textarea capitalize-first class="form-control" rows="3" placeholder="DESCRIPTION" tabindex="2" ng-model="group.description" ng-minlength="5" ng-maxlength="2000" required name="gdescription" tabindex="2">
								</textarea>
								<div class="help-block" ng-messages="createG.gdescription.$error" data-ng-show="createFormSubmitted">
									<p ng-message="required">Group description is required</p>
									<p ng-message="minlength">Group description is too short - minimum length is 20 characters</p>
									<p ng-message="maxlength">Group description is too long.</p>
								</div>
							</div>
							<h6>INVITE MEMBERS</h6>
							<div class="form-group formTag">
								<tags-input ng-blur="text=''" text="text" ng-model="members" placeholder="EMAIL"  replace-spaces-with-dashes="false" on-tag-added="tagAdded($tag)" on-tag-removed="tagRemoved($tag)" add-on-paste="true" tabindex="3" allowed-tags-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
									<auto-complete source="loadMatchingEmails($query)" min-length="0" debounce-delay="0" max-results-to-show="10" >
									</auto-complete>
								</tags-input>
							</div>

							<div data-ng-show="resultMsg" class="col-sm-12 ng-scope text-center" ng-class="msgClass">
								<span class="ng-binding" data-ng-bind="sucessMsg" ></span>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="CREATE">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="createclose" data-ng-click="closeModal()"><img src="assets/img/imgpsh_fullsize.png"></a>
</div>
