<div class="row register-popup">
    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div data-ng-class="grpDetailClass" data-ng-click="detailsForm()">
                        <a href="#" id="login-form-link">DETAILS</a>
                    </div>
                    <div data-ng-class="grpMemberClass" data-ng-click="membersForm()">
                        <a href="#" id="register-form-link">MEMBERS</a>
                    </div>
                </div>
            </div>

            <div class="panel-body edit-det" data-ng-show="editForm">

                <div class="row">
                    <div class="col-lg-12">
                        <!-- <form id="login-form" action="" method="post" role="form" style="display: block;"> -->
                        <div class="creat-heading clearfix">

                            <div class="detail-col-left">
                                <h6>GROUP AVATAR</h6>
                            </div>
                            <form name="imageForm" onkeypress="return event.keyCode != 13;" data-ng-submit="changeImage()" novalidate>
                                <div class="detail-col-right edit-grp-pencil" data-ng-hide="openeditImage">
                                    <a data-ng-show="showPlus"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></a>
                                    <a ng-show="showPlusPencil"><span aria-hidden="true" class="glyphicon glyphicon-pencil" ng-click="editAvatar($event)" data-ng-show="pencil"></span></a>
                                </div>
                                <div data-ng-if="noFile !=''" class="err-msg">
                                    <span data-ng-bind="noFile"></span>
                                </div>

                                <div class="userpicouter">
                                    <div class="user-pics">
                                        <div class="user-second" data-ng-show="showUrl">

                                            <img class="img-user" ng-src="{{group.avatar_url}}" ng-click="editAvatar($event)"/>
                                        </div>
                                        <div class="closepreview" data-ng-if="location" data-ng-show="openeditImage">
                                            <img class="img-user" class="pic-preview" ng-src="{{location}}">
                                            <a data-ng-click="hidePreview()" class="myspace-close "><img src="assets/img/imgpsh_fullsize.png"></a>
                                        </div>
                                    </div>
                                    <div class="editOption" data-ng-show="openeditImage">
                                        <input type="submit" value="Save" class="btn-warning">
                                        <span>|</span>
                                        <input data-ng-click="cancelSave(1)" type="button" value="Cancel" class="btn-warning">
                                    </div>
                                </div>
                            </form>
                        </div>


                        <div class="form-group clearfix">
                            <div class="detail-col-left">
                                <h6>GROUP NAME</h6>
                                <p data-ng-hide="openeditName" class="inputArea" data-ng-bind="group.name"></p>
                                <!-- <p data-ng-bind="group.name"></p> -->
                            </div>
                            <div class="detail-col-right" data-ng-hide="openeditName">
                                <a href=""><span aria-hidden="true" data-ng-click="openEditForm(2)" class="glyphicon glyphicon-pencil" data-ng-show="pencil"></span></a>
                            </div>
                        </div>
                        <form name="nameForm" onkeypress="return event.keyCode != 13;" data-ng-submit="changeName(nameForm.$valid)" novalidate data-ng-show="openeditName">
                            <div class="form-group cal-dob" ng-class="{ 'has-error': nameSubmit && nameForm.gname.$invalid }">
                                <input capitalize-first class="form-control" id="gname" name="gname" type="text" data-ng-model="group.name" ng-minlength="5" ng-maxlength="1000" tabindex="1" required/>
                            </div>
                            <div class="help-block" ng-messages="nameForm.gname.$error" data-ng-show="nameSubmit">
                                <p data-ng-show="nameSubmit" ng-message="minlength">Name too short - minimum length is 5 characters</p>
                                <p ng-message="maxlength">Name is too long.</p>
                                <p ng-message="required">Name is required.</p>
                            </div>
                            <div class="editOption">
                                <input type="submit" value="Save" class="btn-warning">
                                <!--<span data-ng-click="cancelSave(2)">Cancel</span>-->
                                <span>|</span>
                                <input data-ng-click="cancelSave(2)" type="button" value="Cancel" class="btn-warning">
                                <!--<span data-ng-click="cancelSave(2)" class="glyphicon glyphicon-remove-sign cross-icon" aria-hidden="true"></span>-->
                            </div>
                        </form>


                        <div class="form-group clearfix">
                            <div class="detail-col-left">
                                <h6 class="edit-grp-des">DESCRIPTION</h6>
                                <p data-ng-hide="openeditDes" data-ng-bind="group.description"></p>
                            </div>
                            <div class="detail-col-right" data-ng-hide="openeditDes">
                                <a href=""><span aria-hidden="true" data-ng-click="openEditForm(3)" class="glyphicon glyphicon-pencil" data-ng-show="pencil"></span></a>
                            </div>
                        </div>
                        <form name="desForm" onkeypress="return event.keyCode != 13;" data-ng-submit="changeDes(desForm.$valid)" novalidate data-ng-show="openeditDes">
                            <div class="form-group cal-dob" ng-class="{ 'has-error': desSubmit && desForm.gdes.$invalid }">
                                <textarea capitalize-first class="form-control" id="gdes" name="gdes" type="text" data-ng-model="group.description" ng-minlength="20" ng-maxlength="2000" tabindex="2" required></textarea>
                            </div>
                            <div class="help-block" ng-messages="desForm.gdes.$error" data-ng-show="desSubmit">
                                <p data-ng-show="desSubmit" ng-message="minlength">Description too short - minimum length is 5 characters</p>
                                <p ng-message="maxlength">Description is too long.</p>
                                <p ng-message="required">Description is required.</p>
                            </div>
                            <div class="editOption">
                                <input type="submit" value="Save" class="btn-warning">
                                <!--<span data-ng-click="cancelSave(2)">Cancel</span>-->
                                <span>|</span>
                                <input data-ng-click="cancelSave(3)" type="button" value="Cancel" class="btn-warning">
                            </div>
                        </form>
                        <form id="register-form" action="" method="post" role="form" style="display: none;">
                            <div class="creat-heading clearfix">
                                <h6>RED GROUP 1</h6>
                                <ul class="member-col">
                                    <li>
                                        <div class="member-col-left">
                                            <img class="img-user" ng-src="{{location}}"><span>USER 43</span>
                                        </div>
                                        <div class="member-col-right">
                                            <a href=""><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></a>
                                            <a href=""><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" ></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="member-col-left">
                                            <i class="fa fa-circle"></i><span>USER 43</span>
                                        </div>
                                        <div class="member-col-right">
                                            <a href=""><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></a>
                                            <a href=""><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="member-col-left">
                                            <i class="fa fa-circle"></i><span>USER 43</span>
                                        </div>
                                        <div class="member-col-right">
                                            <a href=""><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></a>
                                            <a href=""><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="member-col-left">
                                            <i class="fa fa-circle"></i><span>USER 43</span>
                                        </div>
                                        <div class="member-col-right">
                                            <a href=""><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></a>
                                            <a href=""><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="member-col-left">
                                            <i class="fa fa-circle"></i><span>USER 43</span>
                                        </div>
                                        <div class="member-col-right">
                                            <a href=""><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></a>
                                            <a href=""><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="member-col-left">
                                            <i class="fa fa-circle"></i><span>USER 43</span>
                                        </div>
                                        <div class="member-col-right">
                                            <a href=""><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></a>
                                            <a href=""><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <h6>INVITE MEMBERS</h6>
                            <div class="form-group">
                                <input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="NAME" value="">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input ng-disabled="!inviteEnabled" type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="SUBMIT">
                                    </div>
                                </div>
                            </div>
                            <!-- </form> -->
                    </div>
                </div>
            </div>
            <!-- membersForm -->
            <div class="panel-body" data-ng-show="memberForm">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <form id="login-form" action="" method="post" role="form" style="display: block;"> -->

                        <form id="register-form" action="" method="post" role="form" style="display: none;" data-ng-submit="changeMembers()">
                            <div class="creat-heading clearfix">
                                <h6 data-ng-bind="group.name"></h6>
                                <ul class="member-col no-grp-member" data-ng-if="grpMembers.length  < 1 || grpMembers.length == 0">
                                    <li>No members present</li>

                                </ul>
                                <ul class="member-col" data-ng-if="grpMembers.length > 0">
                                    <li data-ng-repeat="member in grpMembers">
                                        <div class="member-col-left">
                                            <div class="grp-member">
                                            <div class="grp-member-div" ><img class="img-user" data-ng-if="member.user.local.avatar_url != null && member.user.local.avatar_url !='' &&  member.user.local.avatar_url != undefined" ng-src="{{member.user.local.avatar_url}}"></div>
                                            <div class="grp-member-div" ><img class="img-user" data-ng-if="member.user.local.avatar_url === null || member.user.local.avatar_url === ''|| member.user.local.avatar_url === undefined" src="assets/img/icons/profile-pic.png"></div>
                                            <span class="grp-member-span" data-ng-bind="member.user.local.name"</span>
                                             </div>
                                        </div>
                                        <div class="member-col-right">
                                            <a href=""><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" data-ng-click="confirmModal($index, member.group._id, member.user._id)" data-ng-show="pencil"></span></a>
                                        </div>
                                    </li>
                                     </ul>
                            </div>
                            <div data-ng-show="pencil">
                            <h6>INVITE MEMBERS</h6>

                            <div class="form-group formTag">
                                <tags-input ng-blur="text=''" text="text" ng-model="members" placeholder="EMAIL" replace-spaces-with-dashes="false" on-tag-added="tagAdded($tag)" on-tag-removed="tagRemoved($tag)" add-on-paste="true" tabindex="1" allowed-tags-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                                    <auto-complete source="loadMatchingEmails($query)" min-length="0" debounce-delay="0" max-results-to-show="10">
                                    </auto-complete>
                                </tags-input>
                            </div>
                            <div data-ng-show="resultMsg" class="col-sm-12 ng-scope text-center" ng-class="msgClass">
              								<span class="ng-binding" data-ng-bind="sucessMsg" ></span>
              							</div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input ng-disabled="!inviteEnabled" type="submit" name="register-submit" id="register-submit" tabindex="2" class="form-control btn btn-register" value="SUBMIT" data-ng-click="changeMembers()">
                                    </div>
                                </div>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- membersForm end -->
        </div>
    </div>
    <a class="createclose" data-ng-click="closeModal()"><img src="assets/img/imgpsh_fullsize.png"></a>
</div>
