<!-- masonary title -->
<div class="masonary-title-box text-uppercase">
	<div class="masonary-title my-space-grid">
		<h2>My  Space</h2>
		<p data-ng-hide="mySpaceMsg">SEE YOUR COMPLETED ACTIVITIES BELOW</p>
	</div>
	<div class="result-numbers pull-right">
		<!-- <p>Showing 9/274 <span></span></p> -->
	</div>
</div>
<!-- masonary title -->
<!--Masonary Grid  -->
<div class="masoranyGridBox">
	<div id="masoranyGrid" class="clearfix" infinite-scroll="loadMoreSpace()">
		<!-- gridItem starts -->
		<div class="girdItem heightOne activity-list" data-ng-repeat="spaceList in mySpaceList" data-ng-click="viewActivitySpace(spaceList._id, $index)">
			<!-- <h5 class="heading-article">
			    <span>
			        <span  data-ng-bind="spaceList.user.local.name"> </span>
			    </span>
			</h5> -->
			<div class="round-close">
				<span class="glyphicon glyphicon-remove-circle" aria-hidden="true" data-ng-click="deleteMyActivity($index, spaceList._id,spaceList.url, $event)"></span>
			</div>
			<div class="video-box" data-ng-if="spaceList.type=='image'">
				<!-- <img data-ng-if="spaceList.url !== ''" alt="" src="{{spaceList.url}}">
				<img data-ng-if="spaceList.url == ''" alt="" src="assets/img//videoBox.jpeg"> -->
				<span data-ng-if="spaceList.url !== ''" ng-style="{'background-image':'url({{spaceList.url}})'}"></span>
				<span data-ng-if="spaceList.url == ''" ng-style="{'background-image':'url(assets/img/icons/video-lag.png)'}"></span>
			</div>
			<div class="video-box" data-ng-if="spaceList.type=='video'">
				<youtube-video video-id="spaceList.url"></youtube-video>
			</div>

			<div class="clearfix title-likes">
				<h5 class="heading-article">
					<div class="user-sec">
					<!--<span class="imageOuter"></span>-->
							<div class="user-image">
								<!--<img data-ng-if="activity.user.local.avatar_url!=null:'url({{activity.user.local.avatar_url}})'" class="user-image" alt="User Image">-->
								<span data-ng-if="spaceList.user.local.avatar_url !== '' && spaceList.user.local.avatar_url !== null" ng-style="{'background-image':'url({{spaceList.user.local.avatar_url}})'}"></span>
								<span data-ng-if="spaceList.user.local.avatar_url == '' || spaceList.user.local.avatar_url == null" ng-style="{'background-image':'url(assets/img/icons/profile-pic.png)'}"></span>
							</div>
					</div>
					<span data-ng-if="spaceList.user.local.name.length > 8" data-ng-bind="spaceList.user.local.name.substr(0,8) + '..'"> </span>
					<span data-ng-if="spaceList.user.local.name.length == 8 || spaceList.user.local.name.length < 8" data-ng-bind="spaceList.user.local.name"> </span>

				</h5>
				<ul class="webActions clear-fix">
					<li><a href="" class="like-small"><span >{{spaceList.likes.length}}</span>&nbsp;<span>Likes</span> </a></li>

					<li><a href="" class="bookmark-small"><span >{{createdAt[$index].numberDate}}</span>&nbsp;<span>{{createdAt[$index].numberSpan}}</span>&nbsp;<span>ago</span></a></li>
					<!-- <li class="you-tube">
						<a class="bookmark-small pull-right">
							<i class="fa fa-youtube"></i>
						</a>
					</li> -->
				</ul>
			</div>

			<div class="main-artcle clearfix">
				<!--<a href="" data-ng-bind="spaceList.module.name"></a>-->
				<a data-ng-if="spaceList.module.name.length > 15" data-ng-bind="spaceList.module.name.substr(0,15) + '...'"> </a>
				<a data-ng-if="spaceList.module.name.length == 15 || spaceList.module.name.length < 15" data-ng-bind="spaceList.module.name"> </a>
				<ul>
					<li class="Afb">
						<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
					</li>
					<li class="Atw">
						<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<img data-ng-show="spaceloader" src="assets/img/ajax-loader.gif" />
		<span data-ng-show="mySpaceMsg && !spaceloader" class="no-lessons"> There is no activity</span>
	</div>
</div>


<!-- <div>
	<ul class="webActions clear-fix">
		<li><a href="" class="like-small"><span class="glyphicon glyphicon-comment eye" aria-hidden="true"></span><span>27</span> </a></li>
		<li><a href="" class="bookmark-small"><span class="glyphicon glyphicon-eye-open eye" aria-hidden="true"></span><span data-ng-bind="spaceList.likes.length"></span> </a></li>
		<li class="you-tube" ng-click="$event.stopPropagation()">
			<a class="bookmark-small pull-right" data-ng-click="confirmClick() && deleteMyActivity($event,spaceList._id,spaceList.url)" confirm-click>
				<i class="fa fa-youtube"></i>
			</a>
		</li>
	</ul>
</div>
</div>
<span data-ng-show="mySpaceMsg" class="no-lessons"> There is no activity</span>
</div>
</div> -->
<!--Masonary Grid  -->
