<div class="container">
	<!-- Main container -->
	<div class="row">
		<div class="main-wrapper">

			<admin-menu data-ng-show='isAdminLoggedIn'></admin-menu>

			<!-- side content ends -->

			<!-- Right masonary content -->
			<div class=" col-sm-12 col-xs-12 column-right" data-ng-class="{'col-md-9': isAdminLoggedIn,'col-md-12': isLoggedIn}">
				<div data-ng-class="{'row mainbox-right': isAdminLoggedIn}">

					<!-- masonary title -->
					<div class="masonary-title-box text-uppercase">
						<div class="masonary-title">
							<h2>My Favourites</h2>
							<p></p>
						</div>
					</div>
					<div class="formBox">
						<div class="labelRow">
							<form name="imageForm" novalidate>
								<b>Users I'm following: <label data-ng-show="followings">({{followings.length == 0 ? 'No' : followings.length}} {{followings.length == 1 ? 'user' : 'users'}})</label></b>
								<ul style="margin-left: 12px;">
									<li data-ng-show="followingsLoader">
										<img src="assets/img/ajax-loader.gif" />
									</li>
									<li data-ng-repeat="following in followings">
										<a><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" data-ng-click="unfollow($index, following._id, false)"></span>&nbsp;&nbsp;&nbsp;</a>{{following.local.name}}
									</li>
								</ul>
								<b>Users following me: <label data-ng-show="followings">({{followers.length == 0 ? 'No' : followers.length}} {{followers.length == 1 ? 'user' : 'users'}})</label></b>
								<ul style="margin-left: 12px;">
									<li data-ng-show="followersLoader">
										<img src="assets/img/ajax-loader.gif" />
									</li>
									<li data-ng-repeat="follower in followers">
										<a><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" data-ng-click="unfollow($index, follower._id, true)"></span>&nbsp;&nbsp;&nbsp;</a>{{follower.local.name}}

									</li>
								</ul>
							</form>
						</div>

					</div>
					<!-- trial -->

					<!-- <div class="videoUpload">
						<h4>Upload on file select</h4>
						<button ngf-select="uploadFiles($files)" ngf-pattern="'video/mp4,video/webm,video/ogv'">Select Files</button>
						<br>
						<br>Files:
						<ul>
							<li ng-repeat="f in files" style="font:smaller">
								{{f.name}}
							</li>
						</ul>
						<span class="progress" ng-show="progress >= 0">
							 <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
					  </span> {{errorMsg}}
					</div> -->
					<!-- masonry-grid -->
					<!-- <div>
						<div class="masoranyGridBox" id="list-wrapper1">
							<div id="masoranyGrid" class="clearfix">
								<div class="girdItem heightOne activity-list">
									<div class="video-box">
										<div class="you-tube-box">
											<video id="videoPlayer" ng-show="locationVideo" width="400" controls>
												<source src="{{locationVideo}}" type="video/mp4">
												<source src="{{locationVideo}}" type="video/webm">
												<source src="{{locationVideo}}" type="video/ogg">
												Your browser does not support HTML5 video.
											</video>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
			<!-- Right masonary content -->
		</div>
	</div>
	<!-- Main container -->
</div>

<!-- container fluis ends -->
