<div class="tab-content ">
	<div class="tab-pane active" id="1">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2>{{lesson.name}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/RqcqKDwIa8U" frameborder="0" allowfullscreen></iframe>-->
				<youtube-video video-id="'RqcqKDwIa8U'" player="activityPlayer"></youtube-video>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 brief-section">
				<h3><strong>Lesson-{{lesson.name}}</strong></h3>
				<p>{{lesson.basic_description}}</p>
				<p>{{lesson.detailed_description}}</p>


			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="values activity-section">
					<form name="activityForm" data-ng-submit="createActivityItem(activityForm.$valid,lesson._id ,lesson.module )" novalidate>

						<h2>ACTIVITY</h2>
						<span>{{lesson.activity}}</span>
						<div ng-class="{ 'has-error': activityFormSubmitted && activityForm.description.$invalid }">

							<textarea capitalize-first placeholder="Enter your values here" minlength="20" maxlength="2000" class="form-control" rows="3" data-ng-model="activity.description" tabindex="1" class="form-control" name="description" id="description" data-ng-hide="" required></textarea>
							<div class="help-block error-red" ng-messages="activityForm.description.$error" data-ng-show="activityFormSubmitted">
								<p ng-message="minlength">Description too short - minimum length is 20 characters</p>
								<p ng-message="maxlength">Description too long - maximum length is 2000 characters</p>
								<p ng-message="required">Description is required</p>
							</div>
						</div>

						<ul class="form-group clearfix">
							<li class="or-upload" data-ng-hide='showVideoFile'>
								<span>or upload</span>
								<label class="custom-upload">
									<input type='file' file-model='activity.fileModel' id="fileUploaded" onchange="angular.element(this).scope().upload(this)">CHOOSE FILE
								</label>
							</li>
							<li class="closepreview" data-ng-if="activity.location">
								<img ng-src="{{activity.location}}" class="upload-image-preview">
								<a data-ng-click="hidePreview()" class="myspace-close "><img src="assets/img/imgpsh_fullsize.png"></a>
							</li>
							<li data-ng-if="noFile !=''" class="mesg-common"><span data-ng-bind="noFile"></span></li>
							<li>
								<div data-ng-show="uploadLoader" class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="percentageStyle">
										<span class="sr-only">Complete</span>
									</div>
								</div>
							</li>
						</ul>
						<div class="button-section clearfix">
							<span class="orange-button">
									<input type="submit" value="SUBMIT ACTIVITY" class="orange btn btn-default pull-right">
						</span>
						</div>
					</form>

						<h2>Add Tags</h2>

					<div class="form-group formTagInCreateActivity">
						<tags-input ng-blur="text=''" text="text" ng-model="tags" placeholder="Add tags" replace-spaces-with-dashes="false" on-tag-added="tagAdded($tag)" on-tag-removed="tagRemoved($tag)" add-on-paste="true" add-on-blur="false" tabindex="3">
							<auto-complete source="loadMatchingTags($query)" min-length="0" debounce-delay="0" max-results-to-show="10">
							</auto-complete>
						</tags-input>
					</div>

					<div>
						<form data-ng-submit="doneClick()" name="checkVideoId">
							<div class="clearfix" data-ng-show="showVideoButton">
								<span class="orange-button">
									<input type="button" data-ng-click=addVideo() value={{videoTitle}} class="orange btn btn-default">
								</span>
							</div>
							<div class="clearfix row" data-ng-show='showVideo' ng-class="{ 'has-error': videoIdForm && checkVideoId.videoIdField.$invalid }">
								<div class="col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Add video id here:</label>
									<input  class='form-control' type='text' style='color:black;' data-ng-model="videoId" name="videoIdField" id="videoIdField" minlength="6" maxlength="100" required>
									<div class="help-block error-red" ng-messages="checkVideoId.videoIdField.$error" data-ng-show="videoIdForm">
										<p ng-message="minlength">VIDEO-ID too short - minimum length is 6 characters</p>
										<p ng-message="maxlength">VIDEO-ID too long - maximum length is 10 characters</p>
										<p ng-message="required">VIDEO-ID is required</p>
									</div>
						</div>
							<div class="orange-button">
								<button class="orange btn btn-default" data-ng-click="doneClick()">Done</button>
								<button class="orange btn btn-default" data-ng-click="cancelVideo()">Cancel</button>
							</div>
						</div>
						</div>
						</form>
					</div>
				</div>
				<div class="values take-away-section">
					<h2>KEY TAKEAWAYS</h2>
					<ul class="keytakeaway-list">
						<li data-ng-repeat="Keytakeaway in Keytakeaways track by $index">{{Keytakeaway}}</li>
					</ul>
					<div class="button-section activity-listing-dropdown">
						<h2>
							<span aria-hidden="true" class="glyphicon glyphicon-plus-sign" style=""></span>
							ADD THIS LESSON TO GROUPS
						</h2>
						<p>
							<input type="checkbox" tabindex="3" class="" data-ng-model="myCommunityCheck" ng-true-value="true" ng-false-value="false" id="remember1" ng-checked="myCommunityCheck">
							<label for="remember1">MY COMMUNITY</label>
						</p>
						<p>
							<input type="checkbox" tabindex="3" class="" data-ng-model="mySpaceCheck" ng-true-value="true" ng-false-value="false" id="remember2" ng-checked="mySpaceCheck">
							<label for="remember2">MY SPACE</label>
							<p>
								<input type="checkbox" tabindex="3" class="" data-ng-model="myGroupsCheck" ng-true-value="true" ng-false-value="false" data-ng-click="allGroupCheck($event)" id="remember3">
								<label for="remember3">MY GROUPS
									<label class="selectallgroups">(select all groups)</label>
								</label>
							</p>
							<div class="dropdown">
								<!--<a data-toggle="dropdown" class="more-header">Select Groups</a>-->
								<div data-toggle="dropdown" class="select-module">
									<h5>Select groups</h5>
									<span aria-hidden="true" class="glyphicon glyphicon-triangle-bottom"></span>
								</div>
								<ul id="dropdown-group" class="dropdown-menu" ng-click="stopEvent($event)">
									<li ng-show="myGroupsList.length > 0" ng-repeat="group in myGroupsList" ng-click="stopEvent($event)">
										<input ng-disabled="allChecked" ng-true-value="true" ng-false-value="false" ng-checked="allChecked" type="checkbox" tabindex="3" class="" id="{{group.group._id}}" ng-click="updateSelection($event,group.group._id)">
										<label for="{{group.group._id}}" ng-click="" data-ng-bind="group.group.name"></label>
									</li>
									<li ng-show="myGroupsList.length <= 0" ng-click="stopEvent($event)">
										<label style="color: orange;">No groups available</label>
									</li>
								</ul>
							</div>
					</div>
					<span class="orange-button pull-right">
																<!-- <button type='button' ng-click='upload()'>Upload</button> -->
						<input type="submit" ng-disabled="uploadLoader" class="orange btn btn-default" value="Next"  accept="image/*" data-ng-click="onNext()"></span>
				</div>
			</div>
		</div>

	</div>
</div>
