<style>
.modal-content{position: relative;
background-color: #fff;
background-clip: padding-box;
border: 1px solid rgba(0,0,0,.2);
border-radius: 6px;
outline: 0;
}
.modal-body {
position: relative;
padding: 15px;
}
button.close {
-webkit-appearance: none;
padding: 0;
cursor: pointer;
background: 0 0;
border: 0;
}.close {
float: right;
font-size: 21px;
font-weight: 700;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
opacity: .2;
}
.modal-footer {
padding: 15px;
text-align: right;
border-top: 1px solid #e5e5e5;
}

</style>
<div class="modal-content success-box" >
	<div class="modal-body"><button data-ng-click="closeModal()" type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
		<div data-ng-bind="message"></div></div><div class="modal-footer">
    <button data-ng-click="closeModal(1)" type="button" class="btn btn-primary">OK</button>
     <button data-ng-show="confirm" data-ng-click="closeModal(2)" type="button" class="btn btn-primary">Cancel</button></div></div>
</div>
