<!-- masonary title -->
	<div class="masonary-title col-md-12 col-xs-12 col-sm-12 mygroup-grid">
		<h2>MY GROUPS</h2>
	</div>
	
	<div class="col-sm-12 col-md-12 col-xs-12 masonary-title-box2 text-uppercase">
		<div class="row">
			<div class="col-md-7 col-xs-12 col-sm-7">
				<p>SEE WHAT IS TRENDING IN YOUR GROUPS</p>
			</div>
			<div class="col-sm-5 col-md-5 col-xs-12">
				<div class="row">
					<form class="search-form col-md-6 col-sm-6 col-xs-12">
						<div class="form-group has-feedback">
							<label class="sr-only" for="search">Search</label>
							<span class="glyphicon glyphicon-search form-control-feedback"></span>
							<input ng-change="searchGroup()" type="text" placeholder="Search group" id="search" name="search" class="form-control" ng-model="search">
						</div>
					</form>
					<div data-ng-click="createGroup()" class="col-md-6 col-sm-6 col-xs-12 plus-search">
						<span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
						<input type="submit" value="CREATE GROUP" class="form-control btn btn-register" tabindex="4" id="register-submit" name="register-submit">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Masonary Grid  -->
	<div class="group-ser" data-ng-show="hasGroups">
		<div class="masoranyGridBox col-md-12 col-xs-12 col-sm-12">
			<div id="masoranyGrid" class="clearfix">
				<!-- gridItem starts -->
				<div id="body" class="clearfix">
					<div class="gird-outbox" data-ng-repeat="groupList in myGroupsList">
						<div class="girdItem " data-ng-click="groupActivitiesz(groupList.group._id, groupList.group.name)">
							<div class="round-close delete-group">
								<span class="glyphicon glyphicon-remove-circle" aria-hidden="true" data-ng-click="deleteMyGroup($index,groupList.group._id, $event)"></span>
							</div>
							<h5 class="heading-article">
							     <!--<span data-ng-bind="groupList.name"></span>-->
								<span data-ng-if="groupList.group.name.length > 15" data-ng-bind="groupList.group.name.substr(0,15) + '...'"></span>
								<span data-ng-if="groupList.group.name.length == 15 || groupList.group.name.length < 15" data-ng-bind="groupList.group.name"></span>
							</h5>
							<!--<div class="video-box">
								<img alt="" src="assets/img/videoBox.jpeg">
							</div>-->
							<div>
								<div class="main-artcle clearfix">
									<!--<a href="" data-ng-bind="spaceList.module.name"></a>-->
									<a data-ng-if="groupList.group.description.length > 40" data-ng-bind="groupList.group.description.substr(0,40) + '...'"> </a>
									<a data-ng-if="groupList.group.description.length == 40 || groupList.group.description.length < 40" data-ng-bind="groupList.group.description"> </a>
								</div>
							</div>


							<div class="groupform">
								<div class="editOption" data-ng-click="editGroup(groupList.group._id, $event)">
									<span class="text">Edit</span><span class="glyphicon glyphicon-pencil"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- gridItem ends -->

			</div>
		</div>
	</div>
	<div class="groups-box" data-ng-hide="hasGroups">
			<img alt="" src="assets/img/icons/groups-icon.png">
			<a href="" data-ng-click="createGroup()">CREATE</a>
	</div>
<!--Masonary Grid  -->
